@import "../../var";
@import "../../mixin_media";

[custom-select]{
  display: none;
}

.custom-select.type1 {
  background-color: #fff;
  margin: 0 5px;
  flex: 1 0 auto;
  &:hover{
    background-color: #cccccc;
  }

  .custom-select-value {
    padding: 0.5rem 0.5rem 0.25rem;
    font-size: 1rem;
  }

}


.custom-select-value,
.custom-select-options,
.custom-select-option {
  box-sizing: border-box;
}

.custom-select {
  position: relative;
  background-color: white;
}

.custom-select-title {
  display: inline-block;
  position: absolute;

  @include _h4;


  &:focus-visible {
    outline: 1px solid $color-gray5;
  }
}

.custom-select {
  display: inline-block;
  position: relative;
  margin: 10px 0px;
  min-width: 200px;
  background-color: $color-gray1;

  &:focus-visible {
    outline: 1px solid $color-gray5;
  }
}

.custom-select-value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $color-gray2;
  padding: $padding-input-with-label;
  cursor: pointer;
  user-select: none;
  font-size: .8rem;
}

.custom-select:focus > .custom-select-value {
  outline: none;
}

.custom-select-value::after {
  content: '';
  display: inline-block;
  border: 4px solid transparent;
  border-top-color: black;
  margin-left: 12px;
  margin-top: 4px;
}

.custom-select-options {
  display: none;
  position: absolute;
  padding: 0;
  margin: 0;
  //border: 1px solid $color-gray3;
  width: 100%;
  //border-top: none;
  max-height: 200px;
  overflow-y: auto;
  background-color: #ffffff;
  z-index: 1;
  box-shadow: #445e8882 1px 3px 3px 0px;
}

.custom-select-options.show {
  display: block;
}

.custom-select-option {
  padding: .25rem .5rem;
  cursor: pointer;
  min-height: 25px;
  font-size: 12px;
}

.custom-select-option:hover {
  background-color: lighten($color-main, 25%);
}

.custom-select-option.selected {
  background-color: $color-main-selected;
}