@use "../../../var";
@use "../../../mixin_media";
@use "../../../components/input/input";
@use "../test-head";
@use "sass:color";

$color-lighter: color.adjust(var.$color-success, $lightness: -25%);

.opentest-edit-wrapper {

  .question__create-button {
    margin: 10px;
    align-self: self-end;
  }

}


.test-edit-wrapper {
  display: flex;
  font-family: 'Roboto', arial, serif;
  flex: 1 1 auto;
  flex-flow: column;

  @include mixin_media.m800 {
    flex-wrap: wrap;
  }

  [accordion].test-edit {
    //width: 0;
    @include mixin_media.m600 {
      width: 100%;
    }
    @include mixin_media.m800 {
      max-width: 100%;
    }
  }

}

@mixin test-edit__act-button {
  justify-self: end;
  font-size: 1rem;
  width: 20px;
  height: 20px;

  $border-radius: 75%;
  @include mixin_media.colored_button($border-radius);
  align-self: end;

  &:hover {
    box-shadow: none;
  }
}

.test-edit__cont {
  display: flex;
  @include mixin_media.m800 {
  }
}

.test-edit__content {
  flex-flow: column;
  display: flex;
  flex: 1 1 auto;
  min-height: 100%;
  width: 100%;
  background-color: #fff;
  z-index: 1;
  margin-right: 6vw;

  .list {
    display: flex;
    flex-flow: column;

    .path-child__row {
      display: flex;
    }
  }

  .test-edit__title {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    position: relative;

    .test-name {
      font-size: 1.3rem;
      font-weight: 600;
      color: var.$color-gray-max;
      margin: 15px;
    }
  }

  .no-test {
    margin: 10px 0;
  }
}


.questions {
  display: flex;
  flex-flow: column;

  .empty {
    display: none;
    opacity: 0;
    align-items: center;
    transition: opacity 1s;
  }


  .question-edit {
    display: flex;
    flex-flow: column;
    background: aliceblue;

    &:nth-of-type(2) {
      .row:first-of-type > * {
        border-top: solid var.$color-gray2 1px;
      }
    }

    .row:first-of-type > * {
      border-left: solid var.$color-gray2 1px;
      border-bottom: solid var.$color-gray2 1px;
      border-top: solid transparent 1px;
    }

    .text {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      min-width: 90px;
      padding: 10px;
      background-color: white;
      position: relative;
      font-size: 0.8rem;
      color: mixin_media.darker(var.$color-success, 25%);

      &:focus-visible {
        outline: none !important;
      }

      &:hover {
        border: var.$color-success 1px solid !important;
        border-radius: 6px;
      }
    }


    .row {
      display: flex;
      justify-content: space-between;

      .question__answers {
        opacity: 0;
        display: flex;
        flex-flow: column;
        width: 100%;
        flex: 2;
        height: 0;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.1s;

        &.height {
          height: auto !important;
          margin: 5px 14px 10px 47px;
        }

        &.scale {
          transform: scaleY(1) !important;
          opacity: 1;
        }

        .answer {
          display: flex;
          justify-content: space-between;
          background-color: #fff;
          overflow: hidden;
          align-items: center;
          border: 1px solid var.$color-gray2;

          .textarea {
            min-height: 10px;
            border: 1px solid crimson;
          }

          .sort {
            padding: 5px;
            font-size: .8rem;
            flex-basis: 20px;
            color: mixin_media.darker(var.$color-main, 39%);
          }

          .correct {
            margin: 0 5px;
            cursor: pointer;
          }

          .text {
            padding: 5px;
            flex: 1;
            font-size: .8rem;
            border: 1px solid transparent;
            color: mixin_media.darker(var.$color-success, 19%);

            &:hover {
              border: 1px solid var.$color-gray4;
            }
          }

          .delete {
            @include mixin_media.colored_svg_button(
                    $width: 20px,
                    $height: 100%,
                    $svg-width: 15px,
                    $color: var.$color-warning);
          }
        }

        .answer__create-button {
          @include test-edit__act-button;
          margin: 3px 8px;

        }
      }

      & > .sort {
        cursor: move;
        display: flex;
        flex-basis: 45px;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        padding: 0;
        font-weight: 600;
        color: $color-lighter;
      }

      .question__save {
        display: flex;
        align-items: center;
        background-color: #ffffff;
        cursor: pointer;
        position: relative;
        margin-right: 1px;

        &:hover {
          background-color: var.$color-success;

          svg .save {
            fill: white;
          }
        }

        svg {
          width: 20px;
          margin: 10px;
          pointer-events: none;

          .save {
            fill: var.$color-success;
          }
        }
      }
    }

    .question-edit__parent-select {
      display: flex;
      max-height: fit-content;
      background-color: #ffffff;

      select {
        width: 18px;
        margin: 0 7px;
        border: none;
        padding: 0px 10px;

        &:focus-visible {
          outline: transparent;
        }
      }

    }

  }


  .question__create-button {
    @include mixin_media.colored_button(1px, var.$color-white, $color-lighter, $color-lighter);
    align-self: self-end;
    margin: 10px 0;
    padding: 5px 10px;
    bottom: 10px;
  }

  .rotate {
    &:before {
      transform: rotate(135deg) !important;
    }
  }

  .question__show-answers {
    position: relative;
    width: 30px;
    background-color: white;
    cursor: pointer;
    min-width: 35px;

    &:before {
      @include mixin_media.chevron;
      border-right: 2px solid $color-lighter;
      border-top: 2px solid $color-lighter;
    }

  }


  .question__delete {

    @include mixin_media.white_svg_button(
            $width: 35px,
            $height: 100%,
            $svg-width: 20px,
            $color: var.$color-warning);
    height: inherit;
  }

}

.rules {
  font-size: .7rem;

  h1 {
    color: var.$color-warning;
  }

  p {
    margin: 8px 0;
  }
}






