@import "../../var";

[custom-date] {
  padding: $padding-form;
  margin: $margin-form;
  font-size: $font-size-form;
  border: 1px solid transparent;

  &:hover {
    border: $border-field-hover;
  }
}