@use "../../var";

[custom-date] {
  padding: var.$padding-form;
  font-size: var.$font-size-form;
  border: 1px solid transparent;
  font-family: inherit;

  &:hover {
    border: var.$border-field-hover;
  }
}