@import "../var";

.breadcrumbs {
  display: flex;
  margin: 0px 0 15px;
  color: $color-a;
  font-size: .7rem;

  a {
    color: inherit;
    text-decoration: underline #c7c7c7;
  }
}

nav.breadcrumbs-4 {
  line-height: 25px;
  font-size: 12px;
  height: 30px;
  margin-bottom: 45px;
  display: flex;
  flex-wrap: wrap;
  font-family: Verdana, sans-serif;

  li {
    //position: relative;
    margin: 1px 0;
    background: #337AB7;
    text-decoration: none;
    padding: 0 10px 0 10px;
    transition: all 0.3s;

    a {
      color: #fff;
    }
  }

  li:before {
    content: "";
    left: 0;
    top: 0;
    display: block;
    position: absolute;
    border-width: 15px 0 15px 10px;
    border-style: solid;
    border-color: transparent transparent transparent #337AB7;
    transition: all 0.3s;
  }

  li:hover {
    background: #BFE2FF;

    a {
      color: $color-gray-max;

    }
  }

  li:hover + li:before {
    border-color: transparent transparent transparent #BFE2FF;
  }

  li:first-child {
    border-radius: 6px 0 0 6px;
  }

  li:first-child:before {
    display: none;
  }

  li:last-child {
    padding-right: 20px;
    border-radius: 0 6px 6px 0;
  }

}

nav.breadcrumbs-1 {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 0;

  li {
    margin: 2px 0;

    a, div {
      color: #FFF;
      display: block;
      background: $color-main;
      text-decoration: none;
      position: relative;
      height: 24px;
      line-height: 24px;
      padding: 0 10px 0 5px;
      text-align: center;
      margin-right: 23px;
      font-size: .7rem;
      font-family: Verdana, sans-serif;
      transition: all 0.3s;

      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 0;
        border: 0 solid $color-main;
        border-width: 12px 10px;
        width: 0;
        height: 0;
        transition: all 0.3s;
      }

      &:before {
        left: -20px;
        border-left-color: transparent;
      }

      &:after {
        left: 100%;
        border-color: transparent;
        border-left-color: $color-main;
      }

      &:hover {
        background-color: $color-main-lighten10;
        //color: #000;
      }

      &:hover:before {
        border-color: $color-main-lighten10;
        border-left-color: transparent;
      }

      &:hover:after {
        border-left-color: $color-main-lighten10;
      }
    }

    &:nth-child(even) a {
      background-color: $color-main-hover;

      &:before {
        border-color: $color-main-hover;
        border-left-color: transparent;
      }

      &:after {
        border-left-color: $color-main-hover;
      }

      &:hover {
        background-color: $color-main-lighten10;
      }

      &:hover:before {
        border-color: $color-main-lighten10;
        border-left-color: transparent;
      }

      &:hover:after {
        border-left-color: $color-main-lighten10;
      }

    }

    &:first-child a {
      padding-left: 15px;
      border-radius: 4px 0 0 4px;

      &:before {
        border: none;
      }
    }

    &:last-child a {
      padding-right: 15px;
      border-radius: 0 4px 4px 0;

      &:after {
        border: none;
      }
    }
  }
}

nav.breadcrumbs-5 {
  margin-bottom: 15px;
  padding: 0;

  a:hover {
  }

  li {
    display: inline-block;
    line-height: 20px;
    margin: 0 5px 0 -17px;
    padding: 0 20px;
    position: relative;
    font-size: 13px;
    font-family: Verdana, sans-serif;
  }

  li:before,
  li:after {
    border-right: 3px solid #BFE2FF;
    content: '';
    display: block;
    height: 27%;
    position: absolute;
    right: 0;
    top: 5px;
    width: 1px;
    transform: skewX(45deg);
  }

  li:after {
    bottom: 0;
    top: 10px;
    transform: skewX(-45deg);
  }

  li:last-of-type:before,
  li:last-of-type:after {
    display: none;
  }
  li a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s;
  }
  li a:hover {
    color: #337AB7;
  }
}



