@import "../var";


.form-container {
  display: flex;
  flex-flow: column wrap;
  padding: 35px 30px 15px 30px;
  background: #eee;
  width: clamp(150px, 66%, 300px);
  margin: 3% auto;
  align-items: stretch;
  word-break: break-word;
  min-width: 300px;
  .radio-wrap{
    display: flex;
    //flex-flow: column;
    label{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-right: 5px;

      input{
        display: block;
        height: 16px;
        width: 16px;
        margin-left: 20px;
        flex: 0 0 16px ;
      }

    }
  }

  p {
    font-size: 0.6rem;
  }
}

.form-title {
  font-weight: bold;
  font-size: 120%;
  text-align: center;
  color: #949494;
  margin-bottom: 20px;
}

.form-input {
  background: #f7f7f7;
  border-radius: 0;
  border-bottom: 1px solid #ccc;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  flex: 1;
  margin: 10px 0;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  color: #757575;

}

.form__buttons {
  display: flex;
  justify-content: space-between;
}

.form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 1px;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  color: #757575;
  background: rgba(0, 0, 0, 0.15);
  text-align: center;
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
  max-height: 45px;
  border: none;

  &:hover {
    background: #a2a2a2;
    color: #fff;
  }
}

.form__button-secondary {
  color: #949494;
  padding: 10px 3px;
  display: flex;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background: #a2a2a2;
    color: #fff;
  }
}

.bottom {
  display: flex;
  align-items: center;

  li {
    flex: 1;
    text-align: center;
    display: flex;

    a {
      color: #949494;
      flex-basis: 100%;
      padding: 10px 3px;

      &:hover {
        color: #fff;
        background-color: #a2a2a2;
      }
    }
  }
}

.list {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  width: clamp(200px, 63%, 70%);
  margin: 10px auto;
}

.list__header {
  font-size: 2em;
  color: $color-a;
  margin: 15px 0;
}

.list__item {
  color: $color-a;
  border: 1px solid #eee;
  padding: 10px;

  &:hover {
    background-color: $color-white-hover;
  }
}

