@use "../var";

.list {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  width: clamp(250px, 340px, 350px);
  margin: 40px auto;

  .list__header {
    font-size: 2em;
    color: var.$color-a;
    margin: 15px 0;
  }

  .list__item {
    color: var.$color-a;
    border: 1px solid #eee;
    padding: 10px;

    &:hover {
      background-color: var.$color-white-hover;
    }
  }
}





