@import './layout';
@import '../../../var';

// colors

$color-1: $color-admin-sidebar; // Abbey
$color-2: #a0f6aa; // Gossip
$color-3: #ffffff; // White

$color-level-0: $color-1;
$color-level-1: shade($color-level-0,20%);
$color-level-2: shade($color-level-0, 30%);
$color-level-3: shade($color-level-0, 40%);
$color-level-4: shade($color-level-0, 50%);


// fonts 

$primary-font: 'Jaldi', sans-serif;

// this variable modifies the size of all items

$item-padding-S: 9px;
$item-padding-M: 4px;