@import "../../var";

.admin-panel {
  position: relative;
  top: -20px;
  left: 0;
  width: 100%;
  z-index: 3;
  border-top: 1px solid white;
  background-color: $color-gray-browser;
  transition: top 0.1s ease-in-out;

  .row {
    font-size: .7rem;
    display: flex;
    gap: 10px;
  }

  a {
    display: block;
    color: white;
    padding: 6px;

    &:hover {
      background-color: $color-main;

    }

  }
}