@import "../../var";

.admin-flex-table {
  padding: 10px;

  * {
    box-sizing: border-box;

    &:focus-visible {
      outline: $color-blue 1px solid;
    }
  }
}

.admin-flex-table .row {
  padding: 5px;
  display: flex;
}

.admin-flex-table .row strong {
  padding-right: 5px;
  display: flex;
  flex-basis: 250px;
  justify-content: flex-end;
  font-size: 14px;
  align-items: center;
}

.admin-flex-table .row div,
.admin-flex-table .row span,
.admin-flex-table .row select,
.admin-flex-table .row input {
  flex-basis: 250px;
  justify-content: flex-start;
  min-height: 18px;
}

.separator{
  margin-top: 20px;
}