@import "../../var";

.breadcrumbs-adm > div {
  text-transform: uppercase;
}


.breadcrumbs-adm {
  display: flex;
  margin: 5px 0;
  a, div {
    padding: 5px 10px;
    font-size: 0.9rem;
    color: $color-main;
    font-weight: 600;
    border: $color-main 1px solid;

  }

}
