
/*//////////////////////////////*/
/*////////   Catalog  /////////*/
/*//////////////////////////////*/

.tabs > .btn-add-category {
  position: absolute;
  right: 10px;
  top: 4px;
}

.tabs .btn-add-category {
  background-color: #71ffff;
  padding: 5px 10px;
  cursor: pointer;
  color: #444444;
}


.categories .row {
  justify-content: space-around;
  align-items: center;
}

.categories .row:hover {
  background: #ccc;
}




.desc:hover + .no {
  display: flex;
}

.no {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
}

menu p {
  margin: 0;
}

span.close {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid #ccc;
  padding: 0 5px;
}

.doc {
  position: relative;
}

.doc ul {
  margin: 0 10px 0 0;
}

//menu {
//    position: absolute;
//    display: none;
//    background-color: #fff;
//    border: 1px solid #ccc;
//    padding: 10px;
//    top: 100%;
//    margin: 0;
//}

.name {
  display: flex;
  flex: 1;
}

.val-block {
  flex: 1;
  display: flex;
}

.val-item {
  display: flex;
}

.val-item .value {
  padding-left: 10px;
}

/*.prop{
    display:flex;
    flex-flow:column;
    justify-content: space-between;
    position: relative;
    flex:1;
}*/
.val {
  padding: 10px;
  flex: 1;
}

.value:focus {
  border-bottom: 1px #ddd solid;
}
.prop-name {
  display: flex;
  border-bottom: 1px solid #d8d8d8;
}

.prop-val-list {
  padding-left: 25px;
  flex: 1;
}

