@import "../../var";
@import "../../mixin_media";

.tabs {
  min-width: 320px;
  width: 100%;
  padding: 0;
  margin: 0 auto 0 0;
  position: relative;


  & > input {
    display: none;
    position: absolute;
  }

  & > label {
    display: inline-block;
    margin: 0 0 -2px;
    padding: 9px 7px;
    text-align: center;
    color: #fff;
    border: 1px solid $color-gray4;
    border-bottom: none;
    background: $color-admin-sidebar;
    border-radius: 3px 3px 0 0;

    @include _400 {
      font-size: 10px;
    }
  }

  & > label:before {
    font-weight: normal;
    margin-right: 10px;
  }

  & > label:hover {
    color: #888;
    cursor: pointer;
  }

  & > input:checked + label {
    color: #555;
    border-top: 2px solid $color-main;
    border-bottom: 1px solid $color-gray3;
    background-color: $color-gray3;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }

  #tab1:checked ~ #content-tab1,
  #tab2:checked ~ #content-tab2,
  #tab3:checked ~ #content-tab3,
  #tab4:checked ~ #content-tab4 {
    display: flex;
    flex-direction: column;
    padding: 15px;
    min-height: 100px;
    background-color: $color-gray3;
  }

  //#content-tab1 strong {
  //  color: #4d4d4d;
  //}
  //
  & > section {
    display: none;
    background: #fff;
    border: 1px solid #ddd;

    //select {
    //  border: 1px solid #e1e1e1;
    //}

  }

}






