@import "../../var";
@import "../../mixin_media";

.search {
  position: relative;
  height: 32px;
  margin: 0 15px;
  display: flex;

  &.search-header {
    @include _800 {
      display: none;
    }
  }

  &.search-top {
    display: none;
    @include _800 {
      display: flex;
      margin: 2px;
    }
  }
}


.search input {
  flex: 1;
  padding: 0 0 0 12px;
  border: hsl(0, 0, 31%) 1px solid;
  border-radius: 2px;
}


.search__result {
  position: absolute;
  top: 99%;
  z-index: 2;
}

.search__result ul {
  background-color: #fff;
  box-shadow: 0px 6px 10px 0px $color-main;
}

.search__result ul li a {
  display: flex;
  color: #4a4a4a;
  padding: 3px 10px;
  align-items: center;
}

.search__find {
  height: 30px;
  width: 32px;
  position: absolute;
  top: 1px;
  right: 1px;
  cursor: pointer;

  &:hover {
    background-color: hsl(0, 0%, 50%);
  }
}

.search__find:before {
  border: 2px solid #ccc;
  border-radius: 50%;
  box-sizing: border-box;
  left: 9px;
  top: 5px;
  height: 14px;
  width: 14px;
  content: '';
  display: block;
  position: absolute;
}

.search__find:after {
  background: #ccc;
  bottom: 5px;
  transform: rotate(-45deg);
  right: 8px;
  height: 9px;
  width: 2px;
  content: '';
  display: block;
  position: absolute;
}
