@import "phone";

a,
.add-freetest,
a:hover {
  cursor: pointer;
}

.d-content {
  max-width: 800px;
  margin: auto;
}

.art {
  margin: 10px 0;
  padding: 1.14rem 1.14rem;
  font: normal 19px Verdana, Arial, sans;
  color: #555;
  text-align: right;
}

.card-left .row {
  justify-content: space-between;
}


.site {
  position: relative;
}

.site .wrap {
  margin: 0 auto;
  padding: 30px 10px;
  margin-bottom: 9px;
  max-width: 1310px;
  box-sizing: border-box;
}

.main-menu-wrap {
  margin: 0 15px 0 15px;
}

.main-menu-wrap li a {
  padding: 5px 15px 5px 15px;
}

header {
  display: flex;
  flex: 0 0 auto;
  background: #fff;
  width: 100%;
  box-shadow: 0px 6px 10px 0px #d2d2d2;
  margin-bottom: 20px;
  flex-flow: column;
}

@media only screen and (max-width: 400px) {
  .top-menu {
    padding: 0 20px;
  }

  .dtxt {
    width: 80%;
  }
}

///* xs (<=543px) */
@media (min-width: 401px) and (max-width: 575px) {
  .top-menu > .row {
    justify-content: flex-end;
  }
}

header {

  .user-button i {
    font-size: 3.5vw;
  }

  .container-do-test {
    align-items: flex-start;
  }

  .test-menu-wrap {
    margin: 0;
  }

  .dtxt {
    width: 80%;
  }

  .nav {
    right: 0;
    width: auto;
  }
}

///* s (>=576 и <=767) */
@media (min-width: 575px) and (max-width: 768px) {
  .toggle-button {
    display: block;
  }
}

///* m (>=768 и <=991) */
@media (min-width: 768px) and (max-width: 991px) {

}

///* l (>=992 и <=1199) */
@media (min-width: 992px) and (max-width: 1199px) {
  .title {
    display: none;
  }
}


///* xl (>=1200) */
@media (min-width: 1200px) {

  .content {
    flex: 3;
  }
  textarea {
    font-family: inherit;
  }
  .vert-menu__list::after {
    border: .4vw solid;
    border-color: transparent transparent transparent #eee;
  }
  .button,
  .test-name {
    font-size: 1rem;
  }
}
