@import "../../var";
@import "../accordion/partials/_layout.scss";
@import "../../mixin_media";
@import "./mobile-menu";

.header-catalog-menu {
  position: sticky;
  top: 0;
  background: $color-main;
  min-height: 40px;
  display: flex;
  opacity: .92;
  z-index: 1;
}

.header-catalog-menu__wrap {
  max-width: 1310px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: end;

  @include mobile-menu();


}

.utils {
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;

  svg {
    stroke: white;
    stroke-width: 3px;
    width: 17px;
    height: 17px;
    padding: 0 15px;
  }

  .search,
  .gamburger,
  .cart {
    position: initial;
    height: 100%;
    margin: initial;
    display: flex;
    cursor: pointer;
    align-items: center;

    &:hover {
      background-color: #0070ff;
    }
  }

  .menu {

  }

}


.h-cat {
  background-color: rgba(#2275ff, 0);
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  transition: .5s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  color: #fff;
  font: 600 14px/20px intro, "Proxima Nova", sans-serif;
  text-align: center;
  padding: 10px;
  letter-spacing: 1px;

  @include _800 {
    display: none;
  }

  &:first-child ul {
    left: 0;

    &:before {
      right: 80%;
    }
  }

  &:last-child ul {
    right: 0;
  }


  &:hover {
    background-color: rgba(#2275ff, .5);

    ul {
      height: auto;
      padding: 30px 0px;
      max-height: fit-content;
      background-color: white;
      top: 100%;
      box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.28);
      overflow: visible;
      cursor: text;
      width: 100%;

      li {
        cursor: pointer;
        margin: 10px 25px;
        border-bottom: #f0f0f0 1px solid;
        transition: .3s;

        &:hover {
          background: #ababab33;
        }

        a:hover {
          background: #eeeeee;;
        }
      }
    }
  }


  ul {
    height: 0;
    position: absolute;
    top: 45px;
    overflow: hidden;
    color: black;
    z-index: 2;

    li {

      a {
        font: 600 14px/17px 'Proxima Nova', sans-serif;
      }
    }

    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      transform: rotate(45deg);
      position: absolute;
      top: -4px;
      right: 50%;
      border-top: 10px solid white;
      border-left: 10px solid white;
    }
  }
}


