//@import "logo";
@import "user_menu";


.admin-layout_header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  max-width: 1310px;
  border-bottom: 1px solid #f0f0f0;
  padding: 15px 0px 15px 0px;
  max-height: 52px;
  position: absolute;
  top: 0;
  //left: 62px;
  //margin: 0 62px;
  min-width: 100%;

  @include _600 {
    display: none;
  }

  .logo {
    display: flex;
    align-items: center;
    padding-left: 77px;

    .logo_vitex {
      max-width: 140px;
      margin: 0 10px;
    }

  }



}


hr {
  margin: 15px 0 20px;
  border: 0;
  border-top: 1px solid #ecedef;
}
