@import "phone"

$top-color: #0098ff
$middle-color: #f1ff00
$menu-color: #ff8a00

///*************************************
//*******      HTML BODY    ******
//**************************************/

a,
.add-freetest,
a:hover
  cursor: pointer

///*************************
//*******      Site    ******
//**************************/


//.wrap
//  flex: 1 0 auto
//  min-height: 100vh

.d-content
  max-width: 800px
  margin: auto


.art
  margin: 10px 0
  padding: 1.14rem 1.14rem
  font: normal 19px Verdana,Arial,sans
  color: #555
  text-align: right

.card-left .row 
  justify-content: space-between


#cookie-notice 
  color: rgb(255, 255, 255)
  background-color: rgb(0, 0, 0)
  display: block
  position: fixed
  min-width: 100%
  height: auto
  z-index: 10
  font-size: 10px
  line-height: 15px
  left: 0
  bottom: -100%
  text-align: center
  transition: 1s
  padding: 10px


#cn-accept-cookie 
  font-family: sans-serif
  display: inline-block
  margin-right: 0.3em
  margin-bottom: 0
  line-height: 20px
  text-align: center
  font-style: normal
  vertical-align: middle
  cursor: pointer
  color: #ffffff
  background-color: #e60000
  background-repeat: repeat-x
  border-style: solid
  border-width: 1px
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0)
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
  padding: 2px 10px
  font-size: 12px
  text-decoration: none
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  outline: none

.site
  position: relative
/*margin: 90px*/

.site .wrap
  margin: 0 auto
  padding: 30px 10px
  margin-bottom: 9px
  max-width: 1310px
  box-sizing: border-box

.main-menu-wrap
  margin: 0 15px 0 15px

.main-menu-wrap  li a
  padding: 5px 15px 5px 15px

header
    display: flex
    flex: 0 0 auto
    background: #fff
    z-index: 500
    width: 100%
    box-shadow: 0px 6px 10px 0px #d2d2d2
    margin-bottom: 20px
    align-items : center

///*************************************
//*******     MEDIA QUERRIES    ******
//**************************************/

@media only screen and (max-width: 400px)
  .top-menu
    padding: 0 20px

  .t-1,
  .logo-desc,
  .title,
  .logo>span,
  .basket,
  .header-lower,
  .top-menu .contacts,
  .user-button,
  .user-button span,
  .icon-phone,
  .contacts,
  .card-right,
  .phone-wrap
    display: none



  .logo svg

    width: 235px

  .dtxt
    width: 80%



///* xs (<=543px) */
@media (min-width: 401px) and (max-width: 575px)
  .t-1,
  .logo-desc,
  .title,
  .logo>span,
  .basket,
  .icon-phone,
  .header-lower,
  .top-menu .contacts,
  .user-button span,
  .user-button,
  .card-right,
  .user-button div span,
  .top-strip,
  .phone-wrap
    display: none

  .top-menu>.row
    justify-content: flex-end

  header
    //height: 165px

  .user-button i
    font-size: 3.5vw

  .container-do-test
    align-items: flex-start

  .test-menu-wrap
    margin: 0

  .dtxt
    width: 80%

  .nav
    right: 0px
    width: auto


///* sm (>=576 и <=767) */
@media (min-width: 575px) and (max-width: 768px)
  .toggle-button
    display: block

  .logo-desc,
  .title,
  .logo>span,
  .basket,
  .icon-phone,
  .user-button span,
  .h-upper>div:not([class]),
  .user-button,
  .card-right,
  .phone-wrap,
  .header-lower
    display: none

  //.logo-wrap
  //  width: 240px




///* md (>=768 и <=991) */
@media (min-width: 768px) and (max-width: 991px)
  .h-upper>div:not([class]),
    .title,
    .logo>span,
    .basket
    display: none



///* lg (>=992 и <=1199) */
@media (min-width: 992px) and (max-width: 1199px)
  .h-upper>div:not([class]),
  .title
    display: none

  .logo-wrap
    min-width: 437px
    max-width: 583px



///* xl (>=1200) */
@media (min-width: 1200px)

  .content
    flex: 3

  textarea
    font-family: inherit

  .vert-menu__list::after
    border: .4vw solid
    border-color: transparent transparent transparent #eee

  .button,
  .test-name
    font-size: 1rem
