@import "../../var";

.header-catalog-menu {
  display: flex;
  position: relative;
  max-width: 1310px;
  width: 100%;
  margin:auto;
}

.h-cat {
  cursor: pointer;
  text-transform: uppercase;
  transition: .5s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 13px;
  background: $color-main;
  color: #fff;
  font: 400 17px/17px intro, 'Proxima Nova', sans-serif;

  &:first-child ul {
    left: 0;

    &:before {
      right: 80%;
    }
  }

  &:last-child ul {
    right: 0;
  }

  &:hover {
    background-color: $color-main-hover;

    ul {
      height: auto;
      padding: 30px 25px 15px 25px;
      max-height: fit-content;
      background-color: white;
      top: 100%;
      box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.28);
      overflow: visible;
      cursor: text;

      li {
        cursor: pointer;
        padding: 10px 5px;
        border-bottom: #f0f0f0 1px solid;
        transition: .3s;

        &:hover {
          background: #ababab33;
        }

        a:hover {
          background: #eeeeee;;
        }
      }
    }
  }


  ul {
    height: 0;
    position: absolute;
    top: 45px;
    overflow: hidden;
    color: black;
    z-index: 2;

    li {

      a {
        font: 600 14px/17px 'Proxima Nova', sans-serif;
      }
    }

    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      transform: rotate(45deg);
      position: absolute;
      top: -4px;
      right: 50%;
      border-top: 10px solid white;
      border-left: 10px solid white;
    }
  }
}


