@import "logo";
@import "phone";
@import "header-catalog-menu";
@import "user_menu";



@mixin header__info {
  padding: 12px 0 10px 0;
  display: flex;
  position: relative;
  //height: 45px;
  align-items: center;
  width: 100%;
  margin: auto;
  @include _600 {
    padding: 0;
    //flex-wrap: wrap;
  }
}

.header__info {
  @include header__info;
  max-width: 1310px;
  justify-content: space-between;
  flex-wrap: wrap;
}

//.admin-header__info {
//  @include header__info;
//  justify-content: flex-start;
//  //max-width: 1310px;
//}

.header {
  @include header__info;
  justify-content: flex-start;
  //max-width: 1310px;
}

header {
  display: flex;
  flex: 0 0 auto;
  background: #fff;
  width: 100%;
  box-shadow: 0px 6px 10px 0px #d2d2d2;
  margin-bottom: 20px;
  flex-flow: column;
}
//
//hr {
//  margin: 10px 0;
//  border: 0;
//  border-top: 1px solid #ecedef;
//}
