@import "../../var";
@import "../accordion/partials/_layout.scss";
@import "../../mixin_media";

.header-catalog-menu {
  position: sticky;
  top: 0;
  //background: rgba(27, 188, 155, 0.85);
  background: var(--color-main);
  min-height: 40px;
  display: flex;
}

.header-catalog-menu__wrap {
  max-width: 1310px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: end;
}

.utils {
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;

  svg {
    stroke: white;
    stroke-width: 3px;
    width: 17px;
    height: 17px;
    padding: 0 15px;
  }

  .search {
    position: initial;
    height: initial;
    margin: initial;
    display: initial;
  }

  .cart {

  }

  .menu {

  }
}


.h-cat {
  cursor: pointer;
  text-transform: uppercase;
  transition: .5s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  color: #fff;
  font: 600 17px/17px intro, 'Proxima Nova', sans-serif;
  //padding: 13px;

  @include _800 {
    display: none;
  }

  &:first-child ul {
    left: 0;

    &:before {
      right: 80%;
    }
  }

  &:last-child ul {
    right: 0;
  }


  &:hover {
    //background-color: var(--color-main);
    //background-color: shade(var(--color-main), 60%);
    //background-color: darken(var(--color-main), 60);

    //$color-main-hover

    ul {
      height: auto;
      padding: 30px 25px 15px 25px;
      max-height: fit-content;
      background-color: white;
      top: 100%;
      box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.28);
      overflow: visible;
      cursor: text;

      li {
        cursor: pointer;
        padding: 10px 5px;
        border-bottom: #f0f0f0 1px solid;
        transition: .3s;

        &:hover {
          background: #ababab33;
        }

        a:hover {
          background: #eeeeee;;
        }
      }
    }
  }


  ul {
    height: 0;
    position: absolute;
    top: 45px;
    overflow: hidden;
    color: black;
    z-index: 2;

    li {

      a {
        font: 600 14px/17px 'Proxima Nova', sans-serif;
      }
    }

    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      transform: rotate(45deg);
      position: absolute;
      top: -4px;
      right: 50%;
      border-top: 10px solid white;
      border-left: 10px solid white;
    }
  }
}


