//@import "logo";
@import "user_menu";


.admin-layout_header {
  background: #fff;
  display: flex;
  justify-content: end;
  max-width: 1310px;
  border-bottom: 1px solid $color-gray2;
  padding: 15px 2px 15px 15px;
  max-height: 52px;
  position: absolute;
  top: 0;
  left: 62px;

  .logo {
    display: flex;
    align-items: center;

    .logo_vitex {
      max-width: 140px;
      margin: 0 10px;
    }

  }

  @include _600 {
    left: 0px;
    margin-top: 120px;
    justify-content: end;
    flex-flow: column;
    flex-direction: column-reverse;
  }

}


hr {
  margin: 15px 0 20px;
  border: 0;
  border-top: 1px solid #ecedef;
}
