@import "../../mixin_media";
@import "../../var";

.location{
  font-size: 12px;
  padding: 0 15px;
  max-width: 105px;
  position: relative;
  @include _800{
    display: none;
  }

  svg{
    position: absolute;
    left: -8px;
    top: 30%;
    width: 15px;
    height: 15px;
    stroke: var(--color-main);
  }
}