.logo
  display: flex
  flex: 1
  justify-content: start
  margin-left: 10px

.logo img
  width: 100%
  max-width: 35%
  min-width: 50px

.logo a
  width: 22vw
  display: block

.logo > span
  margin: 3px 0 0 -50px
  display: inline-block
  vertical-align: top
  font-size: 14px
  color: #343133

.logo-wrap
  display: flex
  width: 400px
  margin: 0 0 0 10px
  font-size: 13px
  position: relative

.logo-wrap > a
  height: 45px
  width: 60%
  position: absolute


.logo-wrap > svg
  width: 250px
  height: 40px

.logo-desc
  width: 120px