@import "../mixin_media/mixin_media";

.logo {
  display: flex;
  width: 400px;
  margin: 0 0 0 10px;

  a {
    width: 100px;
    display: block;
  }

}

.logo_square {
  height: 100%;

  @include _600 {
    display: none;
  }

}

.logo_vitex {
  height: 100%;
}

.logo__description {
  width: 120px;
  margin: 0 10px 0 20px;
  display: inline-block;
  font-size: 14px;
  color: #343133;
}