@import "../../mixin_media";

.logo {
  display: flex;
  margin: 0 0 0 10px;
  align-items: center;
  height: 30px;
  //flex: 1;

  a {
    width: 100px;
    display: block;
  }

}

.logo_square {
  height: 100%;
  margin-right: 5px;

  @include _800 {
    display: none;
  }
  @include _600 {
    height: 70%;
    display: flex;
  }


}

.logo_vitex {
  height: 33px;
  //#v{  fill: red;}
  @include _600 {
    display: none;
  }
}

.logo__description {
  width: 120px;
  margin: 0 10px 0 20px;
  display: inline-block;
  color: #343133;
  font-size: 12px;

  @include _800 {
    font-size: 10px;
    width: 90px;
  }

  @include _400 {
    display: none;
  }
}