@import "../../var";
@import "../../mixin_media";
@import "user_menu";

@mixin top-menu{
  background: #1bbc9b;
  display: flex;
  margin: 0 auto;
  position: sticky;
  top: 0px;
  z-index: 1;
  width: 100%;
}

.top-menu {
  @include top-menu;
  max-width: 1310px;
  justify-content: space-between;
  @include _500{
    justify-content: end;
  }
}
.admin-top-menu{
  @include top-menu;
  justify-content: flex-end;
  @include _500{
    justify-content: end;
  }
}

.contacts {
  align-self: center;
  margin-left: 50px;
  @include _500{
    display: none;
  }

  .item {
    padding: 0 10px;
    color: #fff;
  }
}


