@import "../../var";
@import "../../mixin_media";

@mixin top-menu{
  background: #1bbc9b;
  display: flex;
  margin: 0 auto;
  position: sticky;
  top: 0px;
  z-index: 1;
  width: 100%;
}

.top-menu {
  @include top-menu;
  max-width: 1310px;
  justify-content: space-between;
  @include _500{
    justify-content: end;
  }
}
.admin-top-menu{
  @include top-menu;
  justify-content: flex-end;
  @include _500{
    justify-content: end;
  }
}

.contacts {
  align-self: center;
  margin-left: 50px;
  @include _500{
    display: none;
  }

  .item {
    padding: 0 10px;
    color: #fff;
  }
}


.user-menu {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  min-height: 25px;
  padding: 0 10px;
  position: sticky;
  top: 0;
  z-index: 501;
  align-items: center;
  color: #ffffff;

  &:hover {
    background-color: #3da58f;
  }

  .user-menu__icon {
    padding: 5px 16px;
    display: flex;
    width: 14px;
    height: 14px;
  }
}

.user-menu__FIO {

  position: relative;
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 12px;
  cursor: pointer;
  color: #fff;

  &:before {
    content: '☰';
    display: block;
    padding: 3px 8px;
    align-self: center;
  }

  &:hover {
    background-color: #3da58f;
  }

  &:hover > .nav {
    display: flex;
  }
}

.nav {
  display: none;
  flex-flow: column;
  border: 1px solid #eee;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background: #fff;
  z-index: 501;
  position: absolute;
  top: 100%;
  right: -1px;
  width: 280px;
  padding: 10px;
  a{
      padding: 5px 10px;
      color: $color-a;
  }
}

