@import "../../var";
@import "../../mixin_media";

.admin-layout__header {
  background: #fff;
  display: flex;
  justify-content: end;
  max-width: 1310px;

  @include _500 {
    justify-content: end;
  }

  @include _500 {
    justify-content: end;
  }
}


.user-menu {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 17px;
  cursor: pointer;
  color: #2b303a;
  margin-right: 10px;

  @include _500{
    padding: 5px 10px;
    margin: 5px 10px;
  }

  .user-menu__icon {
    width: 14px;
    height: 15px;
    padding: 0 5px 3px;
  }

  &:hover {
    background-color: #f0f0f0;
  }

  img {
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0 6px;
    width: 44px;
  }

  //&:after {
  //  content: '☰';
  //  display: block;
  //  padding: 3px 8px;
  //  align-self: center;
  //}

  &:hover > .user-menu__menu {
    display: flex;
  }
}

.user-menu__menu {
  display: none;
  flex-flow: column;
  border: 1px solid #eee;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background: #fff;
  z-index: 501;
  position: absolute;
  top: 100%;
  right: -1px;
  width: 280px;
  padding: 10px;

  a {
    padding: 5px 10px;
    color: $color-a;

    &:hover {
      background-color: #e5e5e5;
    }
  }
}
