@import "../../var";
@import "../../mixin_media";

.user-menu {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 17px;
  cursor: pointer;
  color: #2b303a;
  padding: 3px 3px 3px 3px;
  flex: 0 1 auto;

  &:hover {
    background-color: #f0f0f0;
  }

  img {
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0 6px;
    width: 44px;
    @include _600 {
      width: 30px;
    }
  }

  .credits {
    display: flex;
    flex-flow: column;
    flex: 0 0 200px;


    .fio {
      font-size: .8rem;
      @include _600 {
        font-size: .8rem;
      }
    }

    .email {
      font-size: .6rem;
    }
  }

  //&:after {
  //  content: '☰';
  //  display: block;
  //  padding: 3px 8px;
  //  align-self: center;
  //}

  &:hover > .menu {
    display: flex;
  }

  .menu {
    display: none;
    flex-flow: column;
    border: 1px solid #eee;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background: #fff;
    z-index: 501;
    position: absolute;
    top: 100%;
    right: -1px;
    width: 280px;
    padding: 10px;


    a {
      padding: 5px 10px;
      color: $color-a;

      &:hover {
        background-color: #e5e5e5;
      }
    }
  }

}


.guest-menu {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 17px;
  cursor: pointer;
  color: #2b303a;
  flex: 0 1 auto;
  border: 1px solid grey;
  border-radius: 0px;
  padding: 5px 15px;
  z-index: 2;
  @include _500 {
    padding: 3px 10px;
  }

  svg {
    width: 17px;
    padding-right: 10px;
  }

  .guest-menu__menu {
    position: absolute;
    display: none;
    flex-flow: column;
    background-color: #ffffff;
    //padding: 10px;
    top: 103%;
    right: -1px;
    height: max-content;
    box-shadow: 0px 11px 16px 0px rgb(51 122 183 / 22%);
    z-index: 1;

    li {
      padding: 10px 15px;
      min-width: 150px;

      &:hover {
        background-color: #e5e5e5;
      }

      a {
        color: $color-a;
      }
    }
  }

  &:hover > .guest-menu__menu {
    display: flex;
  }
}

.user-credits {
  display: none;

  @include _600 {
    display: flex;
  }

  .user-menu {

    &:hover {
      background: initial;
    }
  }
}




