@import "../../var";
@import "../../mixin_media";


.guest-menu {
  display: none;
  flex-flow: column;
  bottom: -100%;
  background-color: #ffffff;
  padding: 10px;
  top: 100%;
  right: 0;
  position: absolute;
  height: max-content;
  box-shadow: -1px 4px 20px 0px #1d7c68ab;

  a {
    color: $color-a;
    padding: 5px 10px;

    &:hover {
      background-color: #e5e5e5;
    }
  }
}


.user-menu {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 12px;
  cursor: pointer;
  color: #2b303a;

  //&:hover {
  //  color: #818da2;
  //}
  &:hover {
    background-color: #fafafa;
  }

  img {
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    vertical-align: middle;
    margin: 6px;
    width: 44px;
  }

  &:after {
    content: '☰';
    display: block;
    padding: 3px 8px;
    align-self: center;
  }


  &:hover > .nav {
    display: flex;
  }
}

.nav {
  display: none;
  flex-flow: column;
  border: 1px solid #eee;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background: #fff;
  z-index: 501;
  position: absolute;
  top: 100%;
  right: -1px;
  width: 280px;
  padding: 10px;

  a {
    padding: 5px 10px;
    color: $color-a;

    &:hover {
      background-color: #e5e5e5;
    }
  }
}

