phpstorm.config.js
.idea/
.vscode/
.git
refs/
.env
.env.development

storage/framework/container/CompiledContainer.php
storage/framework/caches/blade/*
storage/logs/**/*
storage/app/userData/**/*

storage/app/sync/*
!storage/app/sync/.gitkeep

composer.phar
composer.lock
vendor/*

node_modules/
package-lock.json
public/build/*
/test/
