@import "../var";
@import "../mixin_media";
@import "./../share/shippable/shippableTable";

.page-name {
  margin-top: 50px;
}

.category {
  margin-top: 35px;
  margin-bottom: 100px;

  .products-header {
    position: relative;
    margin-bottom: 35px;

    h2 {
      @include _h2;
      font-size: 1.3rem;
    }

    .filters {
      @include slider;
    }
  }

  @include product-card;

  @include shippable;

  .category-wrap, .category-child-wrap {
    font-size: 0.8rem;
    display: flex;
    flex: 0 1 auto;
    margin-bottom: 10px;
    max-width: 100vw;
    flex-wrap: wrap;
    gap: 10px;

    .category-card {
      position: relative;

      .category-card-a {
        color: $color-gray10;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100px;
        width: 142px;
        padding: 10px;
        border: 1px solid #ccc;

        &:hover {
          border: 1px solid $color-main;
        }
      }
    }
  }
}