@import "../../var";

$main-color: #F44336;
$secondary-color: white;
$main-color: #d9e2f0;
$secondary-color: #7f7f7f;
$width: 550px; // Change Me
$color-label: #7f7f7f;
$color-input: #323030;


.centered {
  //height: $width*0.2;
  margin: 10px 0px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.group {
  width: 100%;
  height: 44px;
  overflow: hidden;
  position: relative;

  input {
    display: block;
    width: 100%;
    padding: 20px 12px 6px 12px;
    border-radius: 4px;
    color: #323030;
    transition: 0.3s ease;
    background: $color-gray1;
    border: 1px solid $color-gray2;
    box-sizing: border-box;

    &:valid {
      //border-bottom-color: rgba(white, .5);

      ~ label {
        top: 0;
        font: 400 14px Arial, Serif;
        color: $color-main;
      }
    }

    &:focus {
      outline: none;
      // border-bottom-color: $secondary-color;

      ~ label {
        top: -3px;
        font: $font-label-focus;
        color: $secondary-color;
      }

      ~ .bar:before {
        transform: translateX(0);
      }
    }

    // Stop Chrome's hideous pale yellow background on auto-fill
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px $main-color inset;
      -webkit-text-fill-color: $color-input;
      // border-bottom-color: rgba(white, .5);
    }
  }

  //.bar {
  //  background: $color-main;
  //  content: '';
  //  width: 100%;
  //  height: 1px;
  //  transition: .3s ease;
  //  position: relative;
  //
  //  &:before {
  //    content: '';
  //    position: absolute;
  //    width: 100%;
  //    height: 1px;
  //    background: $secondary-color;
  //    transform: translateX(-100%);
  //  }
  //}

  label {
    position: absolute;
    top: 8px;
    color: $color-label;
    font: 400 22px Arial, Serif;
    cursor: text;
    transition: .25s ease;
  }

  ::selection {
    background: rgba($secondary-color, .3);
  }
}
