@import "../../var";

.custom-list {
  text-align: left;
  width: 100%;
  border-collapse: collapse;

  > * {
    padding: 5px 3px;
  }

  .edit:hover {
    background-color: $color-main;

    svg {
      stroke: #ffffff;
    }
  }

  .del:hover {
    background-color: $color-warning;

    svg {
      fill: #ffffff;
    }
  }

  .edit,
  .del {
    justify-content: center;
    display: flex;
    cursor: pointer;
  }

  .head {
    padding: 2px 5px;
    background-color: #5b626e;
    color: #fff;
    font-weight: normal;
    border-right: 1px solid $color-gray4;
    box-sizing: border-box;

    input {
      position: relative;
      margin: 0 10px;
      width: 40px;
      padding-left: 5px;
      border-radius: 2px;
      border: none;
      transition: width 300ms ease-in-out;

      &:focus {
        width: 50%;
      }

      svg {
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    &.edit,
    &.del {
      text-align: center;

      &:hover {
        background-color: #5b626e;
      }
    }

    &.edit svg {
      stroke: white;
      stroke-width: 2px;
    }

    &.del svg {
      fill: white;
    }


    &:last-child {
      border-right: none;
    }
  }

}