@use "../../var";

.rights-table {
  display: grid;
  grid-template-columns: 50px 1fr 1fr 40px 40px;
  flex-flow: column;
  background-color: var.$color-gray2;
  gap: 2px;
  margin: 30px 0;

  [data-id='new'] {
    border-top: 1px solid #979797;
  }

  & > * {
    background-color: #fff;
    min-height: 10px;
    min-width: 20px;
    padding: 5px 10px;

    &:focus-visible {
      outline: 1px solid var.$color-main;
    }
  }

  .head {
    background-color: var.$color-grey-logo;
    color: #fff;
  }

  .right.new > * {
    border: 1px solid var.$color-gray4;
  }

  .name, .description {
    flex: 1;
  }

  .save {
    display: flex;
    align-items: center;
    svg .save {
      fill: var.$color-success;
      //pointer-events: none; // это чтобы не срабатывал клик на svg
    }

    &:hover {
      background-color: var.$color-success;
      cursor: pointer;

      svg .save {
        fill: #ffffff;
      }
    }
  }

  .del:not([data-id="new"]) {
    display: flex;
    align-items: center;

    svg {
      fill: var.$color-warning;
      //pointer-events: none; // это чтобы не срабатывал клик на svg
    }

    &:hover {
      background-color: var.$color-warning;
      cursor: pointer;

      svg {
        fill: #fff;
      }
    }
  }

  .right {
    display: flex;
  }

}