
.burger .utils .mob-burger{
  display: block;
}

.burger .utils .mob-burger .nav-level-1>li:first-child{
  display: none;
}

.burger .utils .mob-burger .nav-drill {
  flex-direction: column;
}

.burger .utils .mob-menu-contacts {
  margin-top: 50px;
  padding-left: 15px;
}

.burger .utils .mob-burger .nav-items {
  flex: unset;
}

.burger .utils .mob-menu-contacts a {
  color: #4e4e4e;
  display: block;
  font-size: 15px;
  margin-bottom: 10px
}

.burger .utils .mob-burger .mob-menu-contacts .call-me {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a72b8;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #1a72b8;
  transition: background .3s, color .3s;
  user-select: none;
  padding: 10px 15px;
  font-size: clamp(.875rem, 5vw, 1rem);
  line-height: 1rem
}