@import "../../var";

[custom-date] {
  padding: $padding-form;
  font-size: $font-size-form;
  border: 1px solid transparent;
  font-family: inherit;

  &:hover {
    border: $border-field-hover;
  }
}