@use '../var.scss';
@use "../mixin_media";
@use '../common.scss';
@use '../normalize.scss';


@include mixin_media.chips;

@include mixin_media.error;

.admin-layout {
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-template-rows: 80px auto 260px;
  grid-template-areas:
          "a-header a-header"
          "sidebar content"
          "sidebar footer";

  @include mixin_media.m600 {
    grid-template-rows: auto auto 260px;
    grid-template-areas:
          "a-header a-header"
          "sidebar sidebar"
          "content content"
          "footer footer";
  }

  .sidebar {
    grid-area: sidebar;
  }

  .a-header {
    grid-area: a-header;
  }

  .content {
    grid-area: content;
    padding: 0 clamp(3px, 2vw, 20px);
    margin-bottom: 50px;
    min-height: 80vh;
    margin-top: 10px;
  }

  .footer {
    grid-area: footer;
  }
}
