.module {
  width: 80px;
  height: 80px;
  margin-bottom: 5px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.module span {
  color: #fff;
  padding: 10px 0;
}

.module.home {
  background-image: url(/pic/admin-mainmenu-items.png);
  background-position: 20px 4px;
  background-repeat: no-repeat;
}
.module.home:hover {
  background-image: url(/pic/admin-mainmenu-items.png),
  url(/pic/admin-mainmenu-items-bg.png);
  background-position: 20px -51px, 5px -0px;
  background-repeat: no-repeat, no-repeat;
}
.module.home.activ {
  background-image: url(/pic/admin-mainmenu-items.png),
  url(/pic/admin-mainmenu-items-bg.png);
  background-position: 20px 0, 5px -88px;
  background-repeat: no-repeat, no-repeat;
}


.module.catalog {
  background-image: url(/pic/admin-mainmenu-items.png);
  background-position: 20px -352px;
  background-repeat: no-repeat;
}
.module.catalog:hover {
  background-image: url(/pic/admin-mainmenu-items.png),
  url(/pic/admin-mainmenu-items-bg.png);
  background-position: 20px -407px, 5px 0;
  background-repeat: no-repeat, no-repeat;
}
.module.catalog.activ {
  background-image: url(/pic/admin-mainmenu-items.png),
  url(/pic/admin-mainmenu-items-bg.png);
  background-position: 20px -408px, 5px -88px;
  background-repeat: no-repeat, no-repeat;
}


.module.settings {
  background-image: url(/pic/admin-mainmenu-items.png);
  background-position: 20px -685px;
  background-repeat: no-repeat;
}
.module.settings:hover {
  background-image: url(/pic/admin-mainmenu-items.png),
  url(/pic/admin-mainmenu-items-bg.png);
  background-position: 20px -740px, 5px 0;
  background-repeat: no-repeat, no-repeat;
}
.module.settings.activ {
  background-image: url(/pic/admin-mainmenu-items.png),
  url(/pic/admin-mainmenu-items-bg.png);
  background-position: 20px -743px, 5px -88px;
  background-repeat: no-repeat, no-repeat;
}


.module.crm {
  background-image: url(/pic/admin-mainmenu-items.png);
  background-position: 20px -110px;
  background-repeat: no-repeat;
}
.module.crm:hover {
  background-image: url(/pic/admin-mainmenu-items.png),
  url(/pic/admin-mainmenu-items-bg.png);
  background-position: 20px -168px, 5px 0;
  background-repeat: no-repeat, no-repeat;
}
.module.crm.activ {
  background-image: url(/pic/admin-mainmenu-items.png),
  url(/pic/admin-mainmenu-items-bg.png);
  background-position: 20px -110px, 5px -88px;
  background-repeat: no-repeat, no-repeat;
}


.module.test {
  background-image: url(/pic/admin-mainmenu-items.png);
  background-position: 20px -1722px;
  background-repeat: no-repeat;
}
.module.test:hover {
  background-image: url(/pic/admin-mainmenu-items.png),
  url(/pic/admin-mainmenu-items-bg.png);
  background-position: 20px -1778px, 5px 0;
  background-repeat: no-repeat, no-repeat;
}
.module.test.activ {
  background-image: url(/pic/admin-mainmenu-items.png),
  url(/pic/admin-mainmenu-items-bg.png);
  background-position: 20px -1779px, 5px -88px;
  background-repeat: no-repeat, no-repeat;
}
