@import "../var";
@import "../mixin_media";

@mixin grey() {
  flex: 0 0 auto;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin: 3px 0;
}

.cart {

  .content {

    p {
      font-size: 1.1rem;
    }

    .message {
      margin: 40px auto;
      width: clamp(300px, 40%, 450px);
      font-size: 1rem;
      color: $color-main-green;
      line-height: 3;
    }

    .row {
      display: flex;
      gap: 5px;
      font-size: .8rem;


      .num {
        @include grey;
      }

      img {
        width: 100px;
      }

      .name-price {
        @include grey;
        display: flex;
        flex: 1 0 20%;
        flex-direction: column;
        justify-content: space-between;

        .name {

        }

        .price {
          align-self: end;
        }
      }


      .count {
        @include grey;
        border: 1px solid transparent;
        width: 55px;
      }

      .sum {
        @include grey;
        display: flex;
        align-items: center;
        justify-content: end;
        flex: 0 0 60px;
      }

      .del {
        @include grey;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
          background-color: #cccccc;
        }

        svg {
          fill: red;
          pointer-events: none;
        }
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      align-items: end;
      //margin: 0 auto;
      //width: 50%;

      .button {
        @include colored_button(6px);
        display: inline-flex;
        padding: 20px;
        margin: 20px 0;
        justify-content: center;
        width: 230px;
      }
    }
  }

  .empty-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
  }

  .total {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid $color-gray2;
    align-items: center;

    .title {
      font-weight: 600;

    }

    span {
      display: flex;
      justify-content: end;
      margin: 10px 0;
      padding: 10px;
      flex: 0 0 150px;
    }

  }
}

