@import "../mixin_media.scss";

main {
  display: flex;
  flex: 1 0 auto;
  max-width: 1310px;
  margin: auto;
  padding: 0 10px;
  flex-flow: column;
}

.card {
  width: 50%;
  margin: 65px auto;
  p {
    font-size: 1rem
  }
  @include _300 {
    & > h1,  & > h2{
      font-size: 12px;
    }
    & > p {
      font-size: 10px;
    }
  }

  @include _600 {
    width: 95%;
    margin: 30px auto;
  }



}

.site-wrapper {
  height: 100%;
}

.contact p,
.contact H3 {
  margin: 0;
  padding: 0;
}

.d-content {
  max-width: 800px;
  margin: auto;
}

.art {
  margin: 10px 0;
  padding: 1.14rem 1.14rem;
  font: normal 19px Verdana, Arial, sans;
  color: #555;
  text-align: right;
}

.card-left .row {
  justify-content: space-between;
}


.site {
  position: relative;
}

.site .wrap {
  margin: 0 auto;
  padding: 30px 10px;
  margin-bottom: 9px;
  max-width: 1310px;
  box-sizing: border-box;
}