@use "sass:meta";
@use "../mixin_media.scss";
@use "../common.scss";
@use "../var.scss";
@use '../normalize.scss';

@use 'oferta.scss';
@use '../Auth/auth.scss';
@use '../components/footer/footer.scss';
@use '../components/header/header.scss';
@use '../components/list.scss';
@use '../components/popup.scss';
@use "../components/breadcrumbs";

@use "cart";

@use "../font/Sagoe";
@use "../font/Montserrat";
@use "../font/Roboto";

@keyframes blinking {
  50% {
    opacity: 0
  }
}

@keyframes typing {
  from {
    width: 0
  }
}
.danger {
  color: var.$color-danger;
}

.deleted-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: #ff00697d;
  height: 100vh;
  z-index: 1;
  position: fixed;
  top: 109px;
  left: -6px;

  h1.deleted {
    padding: 33px;
    background-color: tomato;
    color: #fff !important;
    font-size: 25px !important;
    opacity: .8;
    border-radius: 16px;
  }
}

:root {
  --color-main: #337ab7;
  --bodyLFont: .8rem;
  --bodyLLine: 1rem;
}


.user-content-wrap {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  font-family: "Segoe UI", serif;

  .user-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 auto;
    width: clamp(310px, 80%, 900px);
    padding: 127px 0 100px;
    background-color: white;
    min-height: 250px;

    .typing-animation {
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      animation: typing 1s steps(20), effect 3.5s step-start infinite alternate;

      &:before {
        content: '';
        position: absolute;
        width: 3px;
        right: 0;
        height: 100%;
        padding-left: 10px;
        border-right: 3px solid var.$color-main;
        opacity: 1;
        animation: blinking 1s infinite alternate;

      }
    }


    .about, .news, .contacts {
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .contacts {

      .map {
        margin-bottom: 30px;
        margin-top: 30px;

      }

      .how-to-come {
        font-size: 1rem;
        margin-bottom: 20px;
      }

      .column {
        margin-bottom: 20px;

        h3 {
          font-size: 1rem;
          margin-bottom: 5px;
        }

        p {
          margin: 0 0 5px 0;
        }
      }
    }

    h1 {
      @include mixin_media.h1;
    }

    h2 {
      @include mixin_media.h2;
      margin-bottom: 25px;
    }

    h3 {
      @include mixin_media.h3;
    }

    h4 {
      @include mixin_media.h4;
    }

    @include meta.load-css("../Category/category");


  }


  .banner {
    display: flex;
    flex-flow: column;
    align-items: start;

    &.gloves {
      background: url(/pic/srvc/main/site-gloves.jpg) no-repeat center right;
      background-size: cover;
    }

    &.boot-cover {
      background: url(/pic/srvc/main/site-bootcover-824.jpg) no-repeat center left;
      background-size: cover;
      align-items: flex-end;
    }

    &.endosirynge {
      background: url(/pic/srvc/main/site-syringe-gradientt.jpg) no-repeat center right;
      background-size: cover;
    }


    .banner__container {
      background: rgba(0, 0, 0, .3);

      &.right {
        padding: 5% 10px 3% 17px;
        margin-left: 0;
        color: white;
        @include mixin_media.m600 {
          margin-left: 0;
        }
      }

      &.left {
        padding: 5% 17px 3% 10px;
        margin-right: 0;
        color: white;
        @include mixin_media.m600 {
          margin-right: 0;
        }
      }


      @include mixin_media.m900 {
        padding: 12% 40px 8% 40px;
      }
      @include mixin_media.m600 {
        padding: 8% 15px 6% 15px;
      }
      @include mixin_media.m300 {
        padding: 5% 20px 3% 20px;
      }
    }

    .banner__text {
      align-items: flex-start;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      color: var.$color-title;
      margin-bottom: 8%;
      margin-top: 3%;
      max-width: 35%;

      @include mixin_media.m1000 {
        max-width: 50%;
      }
      @include mixin_media.m900 {
      }
      @include mixin_media.m600 {
        max-width: 55%;
      }
      @include mixin_media.m300 {
        max-width: 85%;
      }

    }

    h1 {
      color: #ffffff;
      font-size: xx-large;
      margin: 0 0 35px;
      letter-spacing: 3px;
      @include mixin_media.m600 {
        font-size: 22px;
        margin-bottom: 20px;
      }
      @include mixin_media.m300 {
        font-size: 18px;
        margin-bottom: 10px;
        letter-spacing: 1px;
      }
    }

    p {
      margin: 0;
      line-height: 25px;
      @include mixin_media.m600 {
        font-size: 12px;
        line-height: 17px;
      }
      @include mixin_media.m300 {
        font-size: 10px;
        line-height: 10px;
      }

    }

    .banner__CTA {
      margin-top: 10px;
      padding: 15px;
      text-transform: uppercase;
      cursor: pointer;
      border: 2px solid var(--color-main);
      background: rgba(0, 0, 0, .3);
      transition: background 500ms, color 300ms;
      color: #ffffff;
      font-weight: 600;
      letter-spacing: 2px;

      &:hover {
        background: var(--color-main);
      }

      &.right {
        align-self: flex-end;
        display: none;
      }

      &.left {
        align-self: flex-start;
        display: none;
      }

      @include mixin_media.m600 {
        padding: 10px;
        font-size: 11px;
      }
      @include mixin_media.m300 {
        padding: 7px;
        font-size: 10px;
      }
    }
  }

  .advantages {
    display: flex;
    justify-content: center;

    .advantages__wrap {
      display: flex;
      flex-flow: column;
      align-items: center;
      width: 70%;
      @include mixin_media.m500 {
        width: 100%;
      }

      .advantages__title {
        font-size: xx-large;
        font-weight: 600;
        margin: 65px 0;
        width: 370px;
        color: var.$color-title;
      }

      .advantage__cards-wrap {
        display: grid;
        grid-template: 50% 50% / 50% 50%;
        justify-items: start;
      }

      .advantage__card {
        position: relative;
        display: flex;
        flex-flow: column;
        min-width: 50%;
        flex: 1 0;
        padding: 60px 40px 40px;
        box-sizing: border-box;
        font-size: 22px;
        font-weight: 600;
        height: 300px;
        color: var.$color-title;
        @include mixin_media.m600 {
          padding: 17px;
        }

        &.delivery,
        &.assortiment,
        &.certificates,
        &.result {

          svg {
            position: absolute;
            top: -77px;
            right: -2%;
            width: 138px;
            height: 208px;
            filter: blur(3px);
            stroke: var(--color-main);
            opacity: 0.3;
            animation: stagger 3s infinite;
          }
        }
      }

      p {
        font-weight: initial;
        font-size: 1rem;
      }
    }


  }


  .workflow {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-weight: 600;
    margin-bottom: 65px;
    color: var.$color-title;

    .workflow__title {
      margin: 50px 0;
      width: 280px;
    }

    .workflow__wrap {
      display: flex;
      flex-flow: column;
      align-items: start;
      padding-left: 160px;

      @include mixin_media.m600 {
        padding: 72px;
      }

      .step {
        font-size: large;
        font-weight: 400;
        padding: 20px 0;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          left: -33px;
          top: 22px;
          width: 15px;
          height: 15px;
          border-radius: 10px;
          background-color: var(--color-main);
        }


        &:before {
          content: "";
          position: absolute;
          left: -27px;
          top: 44px;
          width: 3px;
          height: 88%;
          background-color: var(--color-main);
        }
      }

      .step:last-of-type:before {
        content: '';
        width: 0;
      }
    }

    .about {
      max-width: 800px;
      margin: 50px auto;

      ol li {
        list-style: circle;
      }

      p {
        margin: 5px 0;
      }
    }
  }
}