@use "sass:meta";
@use "../var.scss";
@use "../mixin_media.scss";
@use "../common.scss";
@use '../normalize.scss';

@forward "../404/404.scss";
@use 'oferta.scss';
@use '../Auth/auth.scss';
@use '../components/footer/footer.scss';
@use '../components/header/header.scss';
@use '../components/list.scss';
@use '../components/popup.scss';
@use "../components/breadcrumbs";

@use "cart";


@keyframes blinking {
  50% {
    opacity: 0
  }
}

@keyframes typing {
  from {
    width: 0
  }
}

.danger {
  color: var.$color-danger;
}

.success {
  color: var.$color-success;
}

.deleted-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: #ff00697d;
  height: 100vh;
  z-index: 1;
  position: fixed;
  top: 109px;
  left: -6px;

  h1.deleted {
    padding: 33px;
    background-color: tomato;
    color: #fff !important;
    font-size: 25px !important;
    opacity: .8;
    border-radius: 16px;
  }
}

.user-content-wrap {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  z-index: 0;

  .user-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 auto;
    width: clamp(100px, 100%, 900px);
    padding: 100px 0 100px;
    background-color: white;
    min-height: 250px;

    @include mixin_media.m800 {
      padding-left: 5px;
      padding-right: 5px;
    }

    .typing-animation {
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      animation: typing 1s steps(20), effect 3.5s step-start infinite alternate;

      &:before {
        content: '';
        position: absolute;
        width: 3px;
        right: 0;
        height: 100%;
        padding-left: 10px;
        border-right: 3px solid var.$color-main;
        opacity: 1;
        animation: blinking 1s infinite alternate;
      }
    }


    .about, .news, .contacts {
      margin: 0 clamp(5px, 4vw, 10px) 50px;
    }

    .contacts {

      .map {
        margin-bottom: 30px;
        margin-top: 30px;
        max-width: 100vw;

      }

      .how-to-come {
        font-size: 1rem;
        margin-bottom: 20px;
      }

      .column {
        margin-bottom: 20px;

        p {
          margin: 0 0 5px 0;
        }
      }
    }

    p {
      @include mixin_media.p;
    }

    h1 {
      @include mixin_media.h1;
    }

    h2 {
      @include mixin_media.h2;
      margin-bottom: 25px;
    }

    h3 {
      @include mixin_media.h3;
    }

    h4 {
      @include mixin_media.h4;
    }

    @include meta.load-css("../Category/category");
  }


  .banner {
    display: flex;
    flex-flow: column;
    align-items: start;

    .h3, .h1 {
      color: #ffffff;
      font-size: clamp(1rem, 5vw, 1.8rem);
      margin: 0 0 clamp(10px, 5vw, 35px);
      letter-spacing: clamp(1px, .5vw, 3px);
    }

    .p {
      margin: 0;
      line-height: clamp(10px, 5vw, 25px);
      color: white;
    }

    &.gloves {
      background: url(/pic/srvc/main/site-gloves.jpg) no-repeat center right;
      background-size: cover;
    }

    &.boot-cover {
      background: url(/pic/srvc/main/site-bootcover-824.jpg) no-repeat center left;
      background-size: cover;
      align-items: flex-end;
    }

    &.endosirynge {
      background: url(/pic/srvc/main/site-syringe-gradientt.jpg) no-repeat center right;
      background-size: cover;
    }


    .banner__container {
      background: rgba(0, 0, 0, .3);

      &.right, &.left {
        padding: clamp(3%, 4vw, 5%) clamp(9px, 6vw, 40px) clamp(3%, 4vw, 5%) clamp(9px, 6vw, 40px);
        margin-left: 0;
        color: white;
      }
    }

    .banner__text {
      align-items: flex-start;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      color: var.$color-title;
      margin-bottom: 8%;
      margin-top: 3%;
      max-width: clamp(35%, 70vw, 65%);
    }

  }
}

.advantages {
  display: flex;
  justify-content: center;

  .advantages__wrap {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: clamp(90%, 90vw, 100%);

    .advantages__title {
      font-weight: 600;
      margin: 65px 0;
      color: var.$color-title;
      font-size: clamp(.9rem, 7vw, 2rem);
      width: clamp(155px, 86vw, 350px);
    }

    .advantage__cards-wrap {
      display: grid;
      grid-template: clamp(47%, 50vw, 50%) clamp(47%, 50vw, 50%) / 50% 50%;
      justify-items: start;
    }

    .advantage__card {
      position: relative;
      display: flex;
      flex-flow: column;
      min-width: 50%;
      flex: 1 0;
      padding: clamp(5px, 4vw, 60px) clamp(5px, 4vw, 40px) clamp(5px, 4vw, 40px);
      box-sizing: border-box;
      font-size: 22px;
      color: var.$color-title;

      svg {
        position: absolute;
        top: -77px;
        right: -2%;
        width: clamp(57px, 13vw, 110px);
        height: 208px;
        filter: blur(3px);
        stroke: var.$color-main;
        opacity: 0.3;
        animation: stagger 3s infinite;
      }

      //h3 {
      //  font-size: clamp(.3rem, 6vw, 1rem);
      //}
      //
      //p {
      //  font-weight: initial;
      //  font-size: clamp(.3rem, 5vw, 1rem);
      //}
    }
  }
}

.workflow {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: clamp(1px, 8vw, 65px);
  color: var.$color-title;

  .workflow__title {
    margin: clamp(10px, 10vw, 50px) 0;
    font-size: clamp(.9rem, 7vw, 2rem);
    width: clamp(125px, 60vw, 280px);
  }

  .workflow__wrap {
    display: flex;
    flex-flow: column;
    align-items: start;
    margin: 0 auto;
    width: clamp(10px, 58vw, 350px);

    .step {
      font-size: clamp(8px, 6vw, 17px);
      font-weight: 400;
      padding: clamp(4px, 3vw, 20px) 0;
      position: relative;
      transform: translate(0, 0);
      transition: transform 1s ease-in-out, opacity ease-in-out 1s;
      opacity: 1;

      &.fade-in {
        opacity: 0;
        transform: translate(-120px, 30px);
      }

      &:after {
        content: "";
        position: absolute;
        left: -33px;
        top: 22px;
        width: 15px;
        height: 15px;
        border-radius: 10px;
        background-color: var.$color-main;
      }


      &:before {
        content: "";
        position: absolute;
        left: -27px;
        top: 44px;
        width: 3px;
        height: 88%;
        background-color: var.$color-main;
      }
    }

    .step.last:before {
      content: '';
      width: 0;
    }
  }

  .about {
    max-width: 800px;
    margin: 50px auto;

    ol li {
      list-style: circle;
    }

    p {
      margin: 5px 0;
    }
  }
}
