main {
  display: flex;
  flex: 1 0 auto;
  max-width: 1310px;
  margin: auto;
  padding: 0 10px;
}

.card {
  width: 50%;
  margin: 65px auto;
  p {
    font-size: 1rem
  }
}

.site-wrapper{
  height: 100%;
}