.pay-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.pay-icons img {
    height: 35px;
}

.colpay {
    justify-content: space-between;
}


.foot-cont{
    margin-top: 15px;
}

.foot-cont>div{
    color: #fff;
    margin-bottom: 10px;
}
.foot-cont>div span{
    color: #9b9b9b;
    font-weight: bold;
}

header.burger{
    top: 0px!important;
}

.fixed.hoist{
    width: 80px;
    height: 80px;
}
.fixed.hoist svg rect{
    fill: currentcolor;
}
.fixed.hoist svg path, .fixed.call-me svg path{
    fill: #fff;
}
.fixed.call-me{
    width: 80px;
    height: 80px;
    bottom: 100px;
}
.fixed.call-me svg{
    width: 80px;
    height: 64px;
    padding: 15px;
    box-sizing: border-box;
    fill: currentcolor;
    border: none;
    background: #1a72b8;
}

.user-content-wrap .user-content ul.custom-list{
    padding-left: 20px;
}

.user-content-wrap .user-content ul.custom-list li{
    font-size: clamp(.75rem, 3vw, .9rem);
    line-height: clamp(1rem, 3vw, 1.2rem);
    color: #41444a;
    margin: 0 0 15px;
    list-style: disc;
}

@media(min-width:800px){
    .mob-burger{
        display: none;
    }
}

@media(max-width:800px){
    .burger .header-catalog-menu .header-catalog-menu__wrap{
        justify-content: flex-start;
    }
    .mob-burger{
        display: block;
    }
    .burger .info .call-me{
        display: none;
    }
    .mob-burger .nav-drill{
        flex-direction: column;
    }
    .mob-burger .nav-items{
        flex: unset;
    }
    .mob-menu-contacts{
        margin-top: 50px;
        padding-left: 15px;
    }
    .mob-menu-contacts a{
        color: #4e4e4e;
        display: block;
        font-size: 15px;
        margin-bottom: 10px;
    }
    .mob-burger .mob-menu-contacts .call-me {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #1a72b8;
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
        box-sizing: border-box;
        border: 1px solid #1a72b8;
        transition: background .3s, color .3s;
        user-select: none;
        padding: 10px 15px;
        font-size: clamp(.875rem, 5vw, 1rem);
        line-height: 1rem;
    }
}