.admin-layout__sidebar {
    svg{
      position: absolute;
      left: 20px;
      width: 18px;
      height: 18px;

      &.feather-grid
      {
        stroke: white;
      }

      #house,
      #settings,
      .feather-grid
      {
        stroke: white;
      }

      #house
      {
        fill: white;
      }
    }

}
