@use "../../var";
@use "../../mixin_media";

[multi-select] {
  position: relative;
  display: flex;
  flex-flow: column;
  width: 100%;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid #c8c8c8;
  }

  .wrap {
    display: flex;

    .arrow {
      display: flex;
      min-height: 34px;

      svg {
        background-color: white;
        border-left: 1px solid #e4e4e4;
        //border-bottom: 1px solid #e4e4e4;

        //&:hover {
        //  background-color: #cccccc;
        //}

        path {
          pointer-events: none;
        }
      }
    }

    @include chips



  }

  ul {
    display: none;
    position: absolute;
    top: 104%;
    left: 0;
    background-color: white;
    box-shadow: #445e8882 1px 3px 3px 0px;
    max-height: 120px;
    overflow: auto;
    width: 100%;
    margin: 0;
    z-index: 1;

    .inner {
      //padding: 5px;
      display: flex;
      flex-flow: column;
      flex: 1 0;
      overflow-x: hidden;
      overflow-y: auto;

      .selected {
        background-color: $background-option-selected-form;
      }

      input {
        width: 10px;
        height: 10px;
      }

      label {
        font-size: var.$font-size-form;
        padding: 0.25rem 0.5rem;
        width: 100%;
        flex: 1 0 auto;
        border: 1px solid transparent;

        &:hover {
          border: $border-option-hover-form;
        }
      }
    }
  }

  select {
    display: none;
  }

  .show {
    display: flex;
  }
}
