@import "../var";

[required]:before{
  content: 'ss';
  display: inline-block;
  width: 10px;
  height: 10px;
  color:red;
  position: absolute;
  right: -100%;
}

.pass {
  position: relative;
}


//.site-wrapper {
//  width: 100%;
//  display: flex;
//  flex-basis: 100%;
//  height: 100%;
//  flex-flow: column;
//}


main {
  flex: 1 0 auto;
}

.message{
  font-size: .9rem;
  a{
    padding: 0;
    color: $color-main-hover;
    font-weight: 600;
  }
}
.error{
  border: 3px solid #c14000;
  border-radius: 3px;
  padding: 10px;
  color: #c14000;
}

.success{
  color: #1bbc9b;
  font-weight: 600;
  background-color: #ffffff;
  border: 1px solid;
  padding: 15px;
}

.return_pass .submit{
  cursor: pointer;
}
.login_return_pass{
  color: #1bbc9b;
  font-weight: 600;
  background-color: #ffffff;
  border: 1px solid;
  padding: 15px;
}