@import "../components/forms";
//section{
//  margin: 36px auto;
//}

.profile__grid{
  display: grid;
  align-items: center;
  justify-items: right;
  gap: 10px;
  margin: 20px auto;
  width: 600px;

  div{
    color: hsl(0deg 0% 45%);
  }
}