

.container-do-test {
  display: flex;
  justify-content: start;
  flex: 1 0 auto;
  max-width: 1310px;
  margin: auto;
  //flex-wrap: wrap;

  .content {
    margin: 0px 40px;
    display: flex;
    flex-flow: column;

  }
}

a,
a:hover,
.navi__item,
.button,
.freetest-params,
.submit
{
  cursor: pointer;
}


.question{
  display: none;
  flex-direction: column;
}


.test-menu-wrap{
  margin: 0;
}
.test-data .nav-active {
  display: flex;
}

.menu a{
  display: flex;
  align-items: center;
  padding: 7px 14px 7px 7px;
  transition: 0.5s all;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  color: #ffffff;
}
.menu li .test-link a{
  text-transform: uppercase;
}
.menu li {
  display: flex;
  position: relative;
  border-bottom: 1px solid #b7b7b7;
  transition: 0.5s all;
  justify-content: flex-end;
}

.vert-menu__list::after{
  border: .4vw solid;
  border-color: transparent transparent transparent #eee;
}

.vert-menu__drop{
  position: absolute;
  width: 100%;
  left: 100%;
  top:-9999em;
  opacity: 0;
  border-left: 1px solid transparent;
  transition: 0.5s opacity;
}

.menu .vert-menu__list:hover>.vert-menu__drop{
  opacity: 1;
  top: 0;
  z-index: 1;
}

/*Иконки для всплывающих менюшек*/
.vert-menu__list::after{
  content: " ";
  position: absolute;
  border: .6rem solid;
  border-color: transparent transparent transparent #eee;
  transition: 0.5s;
  align-self: center;
}

.vert-menu__list:hover::after{
  transform: scaleX(-1);
}




.freetest-text-editable{
  display: flex;
  outline: none;
  border: 1px #CDD1DA solid;
  padding: 10px;
  float: left;
  width: 96%;
  height: 97px;
  line-height: 1.6;
}

.test-menu-wrap{
  display:flex;
  flex-flow: column;
  flex:1;
  margin: 50px 2vw;
  max-width: 350px;
}

.menu{
  flex:1;
  z-index: 1;
  max-width: 350px;
}

.container-do-test
{
display: flex;
}

.content{
  display: flex;
  flex-direction: column;
  margin: 0 100px;
  flex-basis: 60%;
}



.num{
  padding-right: 10px;
}

.block{
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 25px 25px 20px  25px;
  border: 3px solid #ccc;
  margin: 10px 0px;
  background: #fafafa;
  position: relative;
  display:none;

}
.test-data{
  border: 10px solid #f3f3f3;
  padding:10px;
  margin: 0px 0 20px 0;
  box-shadow: 0 8px 16px 0 #607F7C;
  box-sizing: border-box;
  width: 100%;
}


textarea{
  font-size: 1.5vw;
  padding: 10px;
  border-radius: 10px;
  border-color: rgb(216, 216, 216);
  resize: vertical;
  box-sizing: border-box;
  overflow: hidden;
  font-family: inherit;
  width: 100%;
}


.button{
  background: #186f5d;
  box-shadow: 0 5px 4px 0 #607F7C;
  padding: 15px 32px;
  transition-duration: 0.4s;
  margin: 16px 0 !important;
  font-size: 2rem;
  font-weight: 800;
  color: #ffffff;

}
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),
    0 17px 50px 0 rgba(0,0,0,0.19);
}


.pic-del,
.checkbox:checked + label:before,
.smallButton,
.pic-upload,
.add-test,
.add-freetest,
.cansel-rename-test-button,
.add-question,
.menu li .test-params,
.menu li,
.menu li .test-link a,
.pagination .add-question
{

background: #9FD468;
}

.check_right_answer>.checkbox:checked + label:after,
.check_right_answer>.checkbox:not(checked) + label:after,
.checkTestOnOff>.checkbox:checked + label:after,
.checkTestOnOff>.checkbox:not(checked) + label:after,
.pagination a
{
background: #fff;
}

.test-variants:hover,
.add-question:hover,
.cansel-rename-test-button:hover,
.add-pic-button:hover,
.add-test:hover,
.add-freetest:hover
{
background: #149c6f;
}

.menu li.vert-menu__list>.test-link  a:hover,
.menu li.vert-menu__list:hover>test-link a,
.menu li:hover>.menu li .test-link a,
.menu li .test-link a:hover,
.menu a:hover,
.vert-menu a:hover,
#saveTestParamsOK:hover,
.pagination > a.nav-active:hover,
.smallButton:hover
{
background: #4e4e4e;
}

.menu li.vert-menu__list,
.menu li.vert-menu__list>.freetest-params,
.menu li.vert-menu__list>.test-link  a,
.pagination > a.nav-active,
li.vert-menu__list>li.vert-menu__list a
{
background: #949494;
}

.menu li .test-params:hover,
.menu li .freetest-params:hover,
.navi__item:hover,
.pic-upload:hover,
.pic-del:hover
{
background: #3d3d3d;
}

