//.has-children > label a:before {
//    content: '';
//    border: 4px solid;
//    border-color: transparent transparent transparent #ccc;
//    position: absolute;
//    right: -16px;
//    top: 3px;
//}

/*.menu label, .menu a, .menu li {*/
/*    position: relative;*/
/*    display: block;*/
/*    color: #c1c1c1;*/
/*    font-size: 12px;*/
/*}*/

.has-children label {
  display: flex;
}

.menu input:checked + label > a {
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}



.menu > li > label {
  padding: 9px 0 9px 9px;
}

.menu .drop {
  padding: 9px 0 9px 9px;
}


/*.menu {*/
/*    width: 130px;*/
/*    background: #001a98;*/
/*    align-self: flex-start;*/
/*}*/

/*.menu ul {*/
/*    display: none;*/
/*    cursor: pointer;*/
/*}*/


.menu input[type=checkbox]:checked + label + ul,
.menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
  display: block;
}

.menu input[type=checkbox] {
  position: absolute;
  opacity: 0;
}


.drop li {
  padding: 0 5px;
}

