@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  src: url("@fonts/Roboto/RobotoMedium.woff") format("woff"), url("@fonts/Roboto/RobotoMedium.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  src: url("@fonts/Roboto/RobotoMono.ttf") format("woff");
}