@import "../../mixin_media";


.accordion-open {
  display: none;
  position: relative;
  transition: transform 1s;
  padding: 10px;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  cursor: pointer;
  background-color: #337ab7;
  color: white;
  margin-right: -4px;
  width: 150px;
  border: 1px solid transparent;
  font-size: 0.7rem;

  @include _1000 {
    display: flex;
  }


  &:hover {
    border: 1px solid $color-main;
    background-color: white;
    color: $color-main;
  }
}