@media (max-width: 1024px) {
    .cta_override {
        height: 550px;
        .free-meas-form__bg .img{
            margin-top: 0;
        }
        .free-meas-form__form {
            margin-top: 0;
        }
        .free-meas-form__form:before{
            background-color: rgba(0, 23, 31, .8);
        }
        .free-meas-form__bg{
            border-radius:20px;
            height: 100%;
        }
    }
}
