.short-install__item {
    height: 364px;
}

.rassrochka__banner-bg .banner-desk {
    width: 100%;
}

.navbar-logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    grid-gap: 18px;
    white-space: nowrap;
    color: #212121;
    font-weight: 600;
}

.navbar-logo {
    display: flex;
    align-items: center;
text-decoration: none;
}

.navbar-logo img {
    max-width: 60px;
}

.content {
    padding-left: 30px; /* Здесь вы можете установить нужный отступ */
}

.free-meas-form__form {
    align-items: center;
    color: #fff;
    display: flex;
    height: 100%;
    justify-content: center!important;
    margin-left: 0!important;
    padding: 30px;
    position: relative;
    width: 100%;
}

.free-meas-form__title-block {
    text-align: center;
    margin: 0 auto;
}

.free-meas-form__form:before {
    border-radius: 20px!important;
}

.window-decor-form__main:before {
    border-radius: 20px!important;
}

.window-decor-form__row {
    padding-right: 0!important;
}

.simple-card__link {
    position: static!important;
}

.configurator__card-switch-group {
display: none!important;
}

.configurator__sale-label {
display: none!important;
}

.configurator__card-image-sign {
display: none!important;
}

.tile-advantage__wrap {
    gap: 20px!important;
justify-content: center!important;
}

.tile-advantage__col3 .tile-advantage__item {
    text-decoration: none;
}

.tile-advantage__col3 .tile-advantage__item.poriadok {
width: calc(20% - 20px);
}

@media(max-width: 1300px) {
.tile-advantage__col3 .tile-advantage__item.poriadok {
    width: calc(33% - 20px);
}
}

@media(max-width: 800px) {
.tile-advantage__col3 .tile-advantage__item.poriadok {
    width: 100%;
}
}


.tile-advantage__col3 .tile-advantage__item.poriadok .tile-advantage__card {
    padding-top: 0;
    display: flex;
flex-direction: column;
    justify-content: space-between;
    grid-gap: 60px;
height: 100%;
}
.tile-advantage__col3 .tile-advantage__item.poriadok .tile-advantage__card .tile-advantage__ico {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 48px;
    font-size: 22px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50%;
    background-color: transparent;
}

.stock-banner-tabs__wrap {
    justify-content: center;
}

.tabs-menu {
    box-sizing: content-box;
    display: flex;
    position: relative;
    transition-property: transform;
    width: 100%;
    z-index: 1;


height: 50px;


background-color: #fff;
    border-radius: 10px;
    width: fit-content;
    margin-bottom: 50px;
    width: 100%;
}

.tabs-menu span {
align-items: center;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    font-weight: 700;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    text-align: center;
    transition: background-color .2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
width: 33.33%;
    cursor: pointer;
}

.tabs-menu span.active {
    background-color: #33c5f3;
    color: #fff;
}

.profili-tabs .tab {
    display: none;
}

.profili-tabs .tab.active {
    display: block;
}

.profili-tabs-product_item_info {
display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.8fr 1fr;
    grid-gap: 30px;
    justify-content: space-between;

background-color: #fff;
    border-radius: 40px;
    max-width: 100%;
    padding: 30px;
}

.profili-tabs-product_item_info img {
max-width: 100%;
  max-height: 425px;
  width: auto;
  display: block;
  margin: 0 auto;
  height: auto;
}

.profili-tabs-product_item_info .products_item_name {
    font-size: 2.283968em;
    font-weight: bold;
    margin-bottom: 15px;
    line-height: 1.5;
}

.profili-tabs-product_item_info .preview_text {
    font-size: 18px;
    color: #757575;
    margin-top: 12px;
    margin-bottom: 48px;
    line-height: 26px;
}

.profili-tabs-product_item_info .preview_text p {
margin-bottom: 25px;
    font-size: 18px;
    color: #757575;
    line-height: 26px;
}

.profili-tabs-product_item_info .preview_text ul {
margin-left: 40px;
}

.profili-tabs-product_item_info .preview_text ul, .profili-tabs-product_item_info .preview_text ul li {
    list-style-type: disc;
    font-size: 18px;
    color: #757575;
    line-height: 26px;
}

@media(max-width: 991px) {

.tabs-menu {
    margin-bottom: 30px;
}

.profili-tabs-product_item_info {
    grid-template-columns: 1fr;
grid-gap: 10px;
padding: 20px;
}

.profili-tabs-product_item_info img {
    max-width: none;
    margin: 0 auto;
    display: block;
    max-height: 280px;
}

}

.reviews-list__item-title-block {
display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 60px 1fr;
    grid-gap: 16px;
    justify-content: space-between;
}

.reviews-list__item-title-block img {
width: 60px;
height: 60px;
border-radius: 30px;
}

.reviews-list__item-title {
    font-size: 24px!important;
    display: flex;
    align-items: center;
}

.swiper-wrapper {
    justify-content: space-between;
}

.head-slider {
width: 100%;
}

.mega-menu__item {
margin-right: 0!important;
}

.head-menu__bottom-wrapper {
padding-right: 0!important;
}

.head-slider__slider {
    padding-right: 20px!important;
}

.stock-banner__item-content {
    grid-gap: 20px;
}

.configurator__tabs-wrap {
    width: 100%!important;
}

.configurator__tabs-item {
margin-right: 0!important;
}

.win-prices__container .configurator__tabs-wrap.swiper-wrapper {
grid-gap: 0!important;
}

.configurator .configurator__tabs-wrap.swiper-wrapper {
grid-gap: 0!important;
}

.company-block .stock-banner__item-title, .company-block .p {
color: #ffffff;
}
.company-block .p {
    font-weight: bold;
}

.main-portfolio-block .certif-slider__item {
width: 275px;
}

.main-portfolio-img {
height: 270px!important;
    border-radius: 20px;
}

.top-okna-banner {
width: 100%;
height: 100vh;
background-image: url('../images/prowin-action-banner.jpeg');
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
max-height: 654px;
}

.sobstvennoe-proizvodstvo-grid {
display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    justify-content: space-between;
}

.sobstvennoe-proizvodstvo-grid .system-palette__title {
font-size: 38px;
text-align: left;
margin-bottom: 30px;
}

.sobstvennoe-proizvodstvo-grid .stock-banner__btn {
margin-top: 50px;
}

@media(max-width: 991px) {
.sobstvennoe-proizvodstvo-grid {
    grid-template-columns: 1fr;
}

.sobstvennoe-proizvodstvo-grid > div:nth-child(1) {
order: 2;
}

.sobstvennoe-proizvodstvo-grid > div:nth-child(2) {
order: 1;
}

}


.mg-stock__img {
  -o-object-fit: contain!important;
  object-fit: contain!important;
}

/*
@media(max-width: 1200px) {
.win-prices__container .swiper-wrapper {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
}
*/


@media (max-width: 1023px) {
.win-prices-tab.swiper {
    overflow-x: auto!important;
    padding-bottom: 20px!important;
    margin-bottom: -20px!important;
    height: 65px!important;
}

.win-prices__tabs {
    overflow: hidden;
}

.gotovie-reshenia .win-prices-type-v2__container {
    overflow-x: auto!important;
    padding-bottom: 20px!important;
    margin-bottom: -20px!important;
	}


.gotovie-reshenia .win-prices-type-v2__container .win-prices-type-v2__card {
    margin: 0!important;
}


.gotovie-reshenia .win-prices-type-v2__container .win-prices-type-v2__item {
    width: max-content !important;
    margin-right: 20px!important;
}



.glazing-prices-type__info {
    padding-left: 20px;
    padding-right: 20px;
}

.gotovie-reshenia .swiper-wrapper:after {
content: '';
width: 1px;
min-width: 1px;
	}


}

/*
@media(max-width: 991px) {

.configurator .configurator__tabs {
    height: max-content;
}


.configurator .configurator__tabs-item {
    width: 100%!important;
    height: 50px;
max-width: 300px;
}


.configurator .configurator__tabs-wrap.swiper-wrapper {
    grid-gap: 20px !important;
}


}

*/

/*
@media(max-width: 700px) {
.win-prices__container .win-prices-tab__wrap {
    display: block!important;
    height: max-content!important;
}

.win-prices__container .win-prices-tab__item {
height: 55px!important;
margin-bottom: 16px!important;
width: 300px!important;
}

.win-prices__container .win-prices-tab {
    height: max-content!important;
}
}
*/

@media (max-width: 576px) {
.main-banner--dark:before {
background-color: rgba(0,0,0,.6)!important;
}

.main-banner__container {
    color: #ffffff!important;
}

.main-banner__input .control__input {
    border: 2px solid #ffffff!important;
    color: #ffffff!important;
}

}

.calc-work-performed__item {
    max-width: 387px;
}

.calc-work-performed__content {
    min-height: 160px!important;
}

.perelink-small__item-img {
height: 158px;
width: 100%;
}


.btn, a.no-style.btn {
    text-decoration: none;
}

.price-french-glazing__item img {
height: 420px;
}

.about-contacts-list .swiper-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 120px;
}

.best-measurers__wrap {
transform: none !important;
}


.use-loggia .use-loggia__item img {
    width: auto!important;
height: 478px!important;
max-width: 100%!important;
}

.use-loggia .tabs-content__item-info {
display: none;
}

.use-loggia .tabs-content {
width: max-content;
margin: 0 auto;
max-width: 100%;
}





.modal-bg {
    display: none;
}

.modal-bg.active {
    display: block;
    position: fixed;
    z-index: 998;
    height: 100vh;
    width: 100%;
    background: #000000;
    opacity: 0.7;
    top: 0;
    left: 0;
}

.modal {
    display: none;
}

.modal.active {
    display: block;
    position: fixed;
    z-index: 999;
    width: 480px;
    max-width: 100%;
    height: max-content;
    left: 50%;
    margin-left: -240px;
    background: #F5F7FA;
    top: 50vh;
    margin-top: -336px;
    padding: 40px;
border-radius: 10px;
}










.modal-close {
    cursor: pointer;
    background-position: center center;
background-repeat: no-repeat;
background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.41211 1.41217L15 15' stroke='%23667685' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M1 14.5879L14.5879 1.00002' stroke='%23667685' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
    width: 16px;
    height: 16px;
    -webkit-transition: all .5s ease-out 0.1s;
    -moz-transition: all .5s ease-out 0.1s;
    -o-transition: all .5s ease-out 0.1s;
    transition: all .5s ease-out 0.1s;
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
}

.modal-close:hover {
opacity: 0.7;
}

.reveal-buttons {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-top: 30px;
}

.reveal-buttons a, .reveal-buttons span {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    width: 100%;
    height: 44px;
    border-radius: 10px;
    background: #BE0257;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: all .5s ease-out 0.1s;
    -moz-transition: all .5s ease-out 0.1s;
    -o-transition: all .5s ease-out 0.1s;
    transition: all .5s ease-out 0.1s;
    cursor: pointer;
}

.reveal-buttons a:hover {
background-color: #8c0140;
color: #FFF!important;
}

.reveal-buttons span {
color: #667685;
border: 1px solid #A2B2C1;
background: transparent;
}

.reveal-buttons span:hover {
opacity: 0.7;
background: transparent;
}

.modal.active p {
text-align: center;
color: #00171f;
}

.modal.active .title {
font-size: 28px;
font-weight: 800;
}

.promotions__card {
background-color: #ffffff;
border-radius: 20px;
}

.promotions__card .btn {
max-width: 190px;
}

.promotions__desc {
    padding: 30px!important;
}

.other-services__text-line {
display: none!important;
}

.other-services__text-opacity {
display: none!important;
}

.whatsapp-button {
  position: fixed;
  right: 20px;
  bottom: 110px;
  z-index: 1000;
  animation: bounce 2s infinite;
}

.whatsapp-button img {
  width: 60px;
  height: 60px;
  transition: transform 0.3s;
}

.whatsapp-button img:hover {
  transform: scale(1.1);
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
.whatsap4-button {
  position: fixed;
  right: 20px;
  bottom: 180px;
  z-index: 1000;
  animation: bounce 2s infinite;
}

.whatsap4-button img {
    width: 60px;
    height: 60px;
  transition: transform 0.3s;
}

.whatsap4-button img:hover {
  transform: scale(1.1);
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
.j7VFK {
    align-items: center;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    left: 0;
    pointer-events: none;
    position: fixed;
    width: 100%;
    z-index: 499;
}

.j7VFK * {
    pointer-events: auto;
}

.wNMd9 {
    align-items: center;
    background-color: #1c1c1c;
    border-radius: .25rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    order: 1;
    padding: 1rem;
    max-width: 800px;
    width: 100%;
    color: white;
}

.plr_l4J, .plr_l4J:after {
    border-radius: 4px;
}

.plr_LqY {
    font-size: .875rem;
    line-height: 1.25rem;
    padding: 10px 24px; /* увеличили отступы */
    min-width: 140px;    /* фиксируем минимальную ширину */
    text-align: center;
}

.plr_XXG {
    background-color: transparent;
    border-color: hsla(0, 0%, 100%, .6);
    color: #fff;
}

.plr_dNP {
    background-color: transparent;
    border: 1px solid;
    padding: 0;
    user-select: none;
    align-items: center;
    display: inline-flex;
    font-weight: 500;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition: all 0.15s ease-in-out;
}

.plr_dNP:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
}
