//
//section
//  flex: 1 0 auto

footer
  flex-flow: column
  flex: 0 0 auto
  background: url("/pic/header-big.png") repeat
  padding: 10px
  a
    color: #ffffff
  p
    font-size: 10px

.footer_legal
  display: flex
  justify-content: space-between

.footer_menu
  display: flex
  justify-content: space-around

