footer{
  flex-flow: column;
  flex: 0 0 auto;
  background: url("/pic/header-big.png") repeat;
  padding: 10px;
  min-height: 110px;
  margin-top: 20px;
  a {
    color: #ffffff;
  }
    p{
  font-size: 10px;
}
}


.footer_legal{
  display: flex;
  justify-content: space-between;
}


.footer_menu{
  display: flex;
  justify-content: space-around;
  max-width: 1310px;
  margin: 0 auto;
}


