@use '../../var';
@use '../../mixin_media';
@use './partials/variables';
// colors, fonts etc...
@use './partials/layout'; // responsive grid and media queries


$font-size-path: .7rem;
$font-size-item: .5rem;

@mixin arrow {
  flex: 0 0 17px;
  width: 17px;
  height: 17px;
  background: url(/assets/icons/cd-icons.svg) no-repeat 1px 0;

  transform: rotate(-90deg);
  transition: transform 200ms;
}

@mixin accordion {
  [accordion] {
    .arrow {
      @include arrow;

      &.rotate {
        transform: rotate(0deg);
      }
    }


    .label {
      padding-top: 12px;
      padding-bottom: 12px;
      padding-right: 12px;
      color: #ffffff;
    }

    & > li > .label, & > li > a {
      display: flex;
      align-items: center;
      padding: 6px 10px 6px 10px;
      color: $color-3;
      font-size: $font-size-path;
    }


    //.level-1 {
    //  label, ul {
    //    background: $color-level-2;
    //
    //    &:hover {
    //      background-color: tint(var.$color-level-2, 3%);
    //    }
    //  }
    //
    //  .label {
    //    padding-left: 24px;
    //  }
    //}
    //
    //
    //.level-2 {
    //  label, ul {
    //    background-color: var.$color-level-3;
    //
    //    &:hover {
    //      background-color: tint(var.$color-level-3, 3%);
    //    }
    //  }
    //
    //  .label {
    //    padding-left: 36px;
    //  }
    //}
    //
    //.level-3 {
    //  background: var.$color-level-3;
    //
    //  &:hover {
    //    background: tint(var.$color-level-3, 3%);
    //  }
    //}

    .update {
      position: absolute;
      top: 20px;
      transform: translateY(-50%);
      right: 0;
      padding: 8px 3px 8px;

      & svg {
        stroke: #ffffff;

        &:hover {
          //stroke: var.$color-main;
        }
      }

      &:after {
        display: none;
      }
    }


    .label {
      display: flex;
      align-items: center;

      .img {
        width: 16px;
        height: 16px;
        background: url(/assets/icons/cd-icons.svg) no-repeat -16px 0;
        margin: 0 5px;
        flex: 0 0 16px;
      }
    }

    > li:last-of-type > label,
    > li:last-of-type > a,
    > li > ul > li:last-of-type label,
    > li > ul > li:last-of-type a {
      box-shadow: none;
    }

    ul ul label,
    ul ul a {
      //padding-left: ($item-padding-S * 5) + 40px;
    }

    ul ul ul label,
    ul ul ul a {
      //padding-left: ($item-padding-S * 6) + 10px;
    }


    @include MQ(M) {
      .label {
        padding: $item-padding-M $item-padding-M+10 $item-padding-M $item-padding-M;
        //font-size: var.$font-size-path;
        min-height: 10px;
      }

      ul {
        label {
          padding-left: ($item-padding-M ) + 10px;
        }
      }

      ul ul label,
      ul ul a {
        padding-left: 17px;
      }

      ul ul ul label,
      ul ul ul a {
        padding-left: ($item-padding-M * 3) + 40px;
      }
    }
  }
}

