@import "../../var";
@import "../../mixin_media";
@import "../../components/dnd/dnd";


.sync {
  font-size: 10px;

  .img {
    background-color: rgba(213, 255, 109, 0.38);
  }

  .requests {
    display: flex;
    flex-direction: column;
    user-select: initial;

    .req{
      padding: 5px;
      background-color: #f5ff0026;
    }

    .line {
      display: flex;
    }

    .date {
      background-color: #e8e8e8;
      margin: 0 10px;
    }
    .ip {
      background-color: rgba(0, 255, 24, 0.09);
      margin-left: 10px;
    }
    .some {
      background-color: #ff330017;
      margin-right: 10px;
      word-break: break-word;
    }
  }
}

.xml {

  .container.files {
    @include dnd;
  }

  .container {
    width: 51%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    span.file {
      @include colored_button;
      width: 100px;
    }

    p {
      display: flex;
    }

    input {
      padding: 5px;
      border-radius: 4px;
      width: 100%;
      box-sizing: border-box;
      border: 1px solid lighten($color-main, 20%);

    }

    button {
      width: 100%;
      margin: 3px 0;
    }

  }


}