@import "../var.scss";
@import "../mixin_media.scss";

@mixin arrow-block {
  .arrows {
    display: flex;
    width: 72px;

    .arrow {
      display: block;
      width: 16px;
      height: 16px;
      cursor: pointer;
      border: 1px solid transparent;
      border-radius: 2px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: $color-main-green;
      padding: 1px 9px;
      color: lighten($color-main-green, 35%);
      cursor: pointer;

      svg {
        pointer-events: none;

      }

      &:hover {
        background-color: darken($color-main-green, 10%);
      }

      &.plus {
        background-image: url(/pic/icons/arrowUp.svg);
      }

      &.minus {
        background-image: url(/pic/icons/arrowUp.svg);
        transform: rotate(180deg);
      }
    }

  }
}


.shippable-table {
  position: relative;
  display: flex;
  width: 240px;
  flex-direction: column;

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 100ms ease-in-out;
    border: none;
    flex: 1;
  }

  .blue-button {
    background-color: $color-main;
    //margin-bottom: 63px;

    &:hover {
      background-color: darken($color-main, 10%);
    }
  }

  .green-button {
    background-color: $color-main-green;
    margin-bottom: 10px;
    justify-content: center;

    &:hover {
      background-color: darken($color-main-green, 10%);
    }
  }

  .unit-row {

    display: flex;
    margin-bottom: 0px;

    .input {
      text-align: center;
      border: transparent;
      border-bottom: 1px solid #e7e7e7;
      border-radius: 3px;
      width: 30px;
      margin-right: 3px;
      flex: 1;
    }

    @include input-clear;

    .unit-name {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      flex: clamp(45px, 26%, 100px);
      margin-right: 3px;
      font-size: .7rem;

      .name {
        font-weight: 600;
      }

      .description {
        font-size: .55rem;
      }
    }

    @include arrow-block;

    .sub-sum {
      display: flex;
      justify-content: end;
      font-size: 0.7rem;
      width: 90px;
    }
  }

  .total-bottom {
    display: flex;
    justify-content: end;

    &:before {
      content: '';
      position: absolute;
      width: 70px;
      height: 1px;
      background-color: $color-main-green;
    }
  }

}


