@use "../../var";

.card-panel {
  position: absolute;
  right: -1px;
  top: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;

  .short-link, .edit {
    padding: 1px 8px;
      background-color: var.$color-gray9;

    &:hover {
      background-color: var.$color-gray8;

    }

    svg {
      //color: var.$color-gray-min;
      color: var.$color-gray-min;
      stroke-width: 0px;
      pointer-events: none;
    }
  }

  .edit {
    svg {
      stroke-width: 2px;
      width: 12px;
      height: 16px;
    }
  }
}
