@import "../var";
@import "../mixin_media";
@import "./menu_toggler";
@import "./test-head";


@mixin test__button {
  justify-content: center;
  padding: 10px;
  margin: 10px 0;
  background-color: $color-main;
  color: #ffffff;
  border-radius: 4px;
  display: flex;
  font-weight: 800;
  //box-shadow: 5px 4px 6px 1px #6a8784;
  cursor: pointer;
  border: none;
  text-transform: uppercase;

  &:hover {
    transition: box-shadow 100ms;
    box-shadow: 2px 2px 12px 0px #6a8784;
  }
}

.test-do {
  display: flex;
  max-width: 1310px;
  width: 100%;
  padding-left: 20px;
  flex-flow: column;
  flex: 1 1 auto;
  min-height: 100%;
  background-color: #fff;
  z-index: 1;
  margin-right: 6vw;

  @include _400 {
    flex-wrap: wrap;
  }

  .content{
    display: flex;
    flex-flow: column;
    width: 100%;
    margin-right: 20px;
  }

  .test-data {
    margin-bottom: 20px;
    box-sizing: border-box;
    width: 100%;
    border: 1px #ccc solid;
    padding: 15px;

    .question {
      display: none;
      flex-direction: column;

      &.show {
        display: flex;
      }

      .q {
        display: flex;
        flex-wrap: wrap;
        min-height: 50px;
        margin-bottom: 0;
        //width: 100%;
        @include _h3;

        .q-text {
          width: 60%;
          margin-bottom: 10px;
          flex: 1 0 auto;
        }

        .num {
          padding-right: 10px;
        }
      }
    }
  }

  .navigation {
    display: flex;
    margin-bottom: 20px;

    .info {
      margin: 0 20px;
    }

    .pagination__wrap {

    }

    .test-name {
      @include _h2;
      margin-bottom: 20px;
    }
  }

  .buttons {
    display: flex;
    gap: 10px;
    justify-content: space-between;

    button {
      @include test__button;
    }
  }


  .menu.menu-open {
    transform: scale(1);
    display: block;
  }

  .menu {
    max-width: 170px;
    min-width: 170px;
    transform: scale(0);
    display: none;
    position: absolute;
    top: 0px;
    left: 100%;


    .children {
      background-color: $color-main;

      &:after {
        content: " ";
        position: absolute;
        border: 6px solid;
        border-color: transparent transparent transparent #eee;
        transition: 0.5s;
        right: 2px;
        z-index: 13;
        top: 30%;
      }

      &:hover::after {
        transform: rotate(180deg);
      }

      &:hover {
        background-color: $color-main-hover;

        & > ul {
          opacity: 1;
          top: 0;
          z-index: 1;
        }
      }

      ul {
        position: absolute;
        width: 100%;
        left: 100%;
        top: -9999em;
        opacity: 0;
        border-left: 1px solid transparent;
        transition: 0.5s opacity;

        li a {
          background-color: #797979;
          width: 100%;
        }
      }
    }

    li {
      position: relative;
      border-bottom: 1px solid #b7b7b7;
      transition: 0.5s all;
      justify-content: flex-end;
      background-color: #797979;

      a {
        display: flex;
        align-items: center;
        flex: 1;
        padding: 7px 25px 7px 7px;
        text-transform: uppercase;
        color: #ffffff;
      }
    }
  }
}




.a {
  position: relative;
  display: flex;
  align-items: center;
  @include _h4;

  &.done:before {
    content: '';
    position: absolute;
    border-color: #1bbc9b;
    border-style: solid;
    border-width: 0 0.3em 0.25em 0;
    height: 1em;
    top: 23px;
    left: -11px;
    margin-top: -1em;
    transform: rotate(45deg);
    width: 0.5em;
  }

  input {
    //position: absolute;
    //left: -9999px;
    display: none;

    &:checked + label:before {
      border-color: #0b76ef;
      background-color: $color-main;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }

    &:checked + label {
      border: 1px solid #dae5f8;
    }
  }

  label {
    display: inline-flex;
    position: relative;
    align-items: center;
    user-select: none;
    flex: 1 0 15px;
    margin: 0 30px 10px 5px;
    cursor: pointer;
    //box-sizing: border-box;
    border: 1px solid transparent;
    border-bottom: 1px solid #f2f2f2;
    padding: 10px 5px 10px 45px;
    min-height: 16px;

    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 10px;
      left: 10px;
      width: 1.2em;
      height: 1.2em;
      flex: 0 0 15px;
      border: 1px solid #adb5bd;
      border-radius: 0.25em;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }

    &:hover {
      background-color: #f2f7ff;
    }
  }

  .pushed {
    background: #FAFCFF !important;
  }
}

.redShadow {
  box-shadow: rgb(255, 41, 41) 1px 2px 0px 0px !important;
  background-color: #b39090 !important
}

.greenShadow {
  box-shadow: #1bbc9b 1px 2px 0px 0px !important;
  background-color: #5b998d !important
}


// finish test button
.inactive {
  background-color: #d8d8d8 !important;
}




.test-do__finish-btn {
  @include test__button;
}


.apic {
  img {
    width: 100px;
    height: 100px;
  }
}

.qpic {
  img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
}


















