@import "../var";

@import "../mixin_media";

.test-do {
  display: flex;
  margin: 0 auto;
  max-width: 1310px;
  flex: 1 0 auto;
  width: 100%;
  flex-flow: column;

  @include _400 {
    flex-wrap: wrap;
  }

  .test-do__navigation {
    display: flex;

    .info{
      margin: 0 20px;
    }

    .pagination__wrap {
      margin: 0 20px;
    }


    .test-name {
      font-size: 26px;
      font-weight: 600;
      color: $color-text;
      margin-bottom: 20px;
    }
  }

.test-do__menu-slider{
  position: relative;
  transition: transform 1s;
  margin: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  align-self: flex-start;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: $color-main;
  color: white;
  cursor: pointer;

  &:hover{
    background-color: white;
    color: $color-main;
  }


}
  .menu.menu-open{
    transform: scale(1);
    display: block;
  }

  .menu {
    max-width: 170px;
    min-width: 170px;
    transform: scale(0);
    display: none;
    position: absolute;
    top: 0px;
    left: 100%;


    .children {
      background-color: $color-main;

      &:after {
        content: " ";
        position: absolute;
        border: 6px solid;
        border-color: transparent transparent transparent #eee;
        transition: 0.5s;
        right: 2px;
        z-index: 13;
        top: 30%;
      }

      &:hover::after {
        transform: rotate(180deg);
      }

      &:hover {
        background-color: $color-main-hover;

        & > ul {
          opacity: 1;
          top: 0;
          z-index: 1;
        }
      }

      ul {
        position: absolute;
        width: 100%;
        left: 100%;
        top: -9999em;
        opacity: 0;
        border-left: 1px solid transparent;
        transition: 0.5s opacity;

        li a {
          background-color: #797979;
          width: 100%;
        }
      }
    }

    li {
      position: relative;
      border-bottom: 1px solid #b7b7b7;
      transition: 0.5s all;
      justify-content: flex-end;
      background-color: #797979;

      a {
        display: flex;
        align-items: center;
        flex: 1;
        padding: 7px 25px 7px 7px;
        text-transform: uppercase;
        color: #ffffff;
      }
    }
  }
}

.test-do__content {
  width: 90%;
  margin: 0 auto;
  flex: 1;

  .test-data {
    padding: 10px;
    margin: 30px 0 20px 0;
    box-sizing: border-box;
    width: 100%;
  }

}

.a {
  min-height: 50px;
  display: flex;
  align-items: center;

  div {
    width: 100%;
    margin: 4px 0;
  }

  input {
    position: absolute;
    left: -9999px;
  }

  label {
    border: 1px solid #BBBBBB;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(240, 240, 240, 1) 100%);
    box-shadow: 2px 5px 8px 1px #6a8784;
    cursor: pointer;
    height: 15px;
    margin: 0 30px 0 0;
    display: block;
    position: relative;
    flex: 0 0 15px
  }

  label:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .58);
  }

  .pushed {
    background: #949494 !important;
    box-shadow: 0 0 0px 0px #fff !important;
  }
}

.done::before {
  content: '';
  position: absolute;
  border-color: #1bbc9b;
  border-style: solid;
  border-width: 0 0.3em 0.25em 0;
  height: 1em;
  top: 10px;
  left: -22px;
  margin-top: -1em;
  transform: rotate(45deg);
  width: 0.5em;
}

.redShadow {
  box-shadow: rgb(255, 41, 41) 1px 2px 0px 0px !important;
  background-color: #b39090 !important
}

.greenShadow {
  box-shadow: #1bbc9b 1px 2px 0px 0px !important;
  background-color: #5b998d !important
}


// finish test button
.inactive {
  background-color: #d8d8d8 !important;
}

@mixin test__button{
  justify-content: center;
  padding: 10px;
  margin: 29px auto;
  background-color: $color-main;
  color: #ffffff;
  border-radius: 4px;
  display: flex;
  font-weight: 800;
  //box-shadow: 5px 4px 6px 1px #6a8784;
  cursor: pointer;
  border: none;
  text-transform: uppercase;

  &:hover {
    transition: box-shadow 100ms;
    box-shadow: 2px 2px 12px 0px #6a8784;
  }
}

.test-do__buttons {
  display: flex;
  gap: 10px;

  button {
    @include test__button;
  }
}

.test-do__finish-btn {
  @include test__button;
}


.apic {
  img {
    width: 100px;
    height: 100px;
  }
}

.qpic {
  img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
}


.question {
  display: none;
  width: 100%;
  flex-direction: column;

  .q {
    min-height: 50px;
    padding: 3px 0px;
    margin-bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;

    .q-text {
      width: 60%;
      margin-bottom: 10px;
      flex: 1 0 auto;
    }

    .num {
      float: left;
      clear: left;
      padding-right: 10px;
    }
  }
}

















