@import "../mixin_media";


.test-edit__menu-toggle {
  position: relative;
  transition: transform 1s;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: $color-main;
  color: white;
  margin-right: 25px;
  min-width: 103px;

  @include _800{
    display: none;
  }


  &:hover {
    background-color: white;
    color: $color-main;
  }
}