.opentest-edit-wrapper {

  .question-edit__parent-select {
    [custom-select] {
      .space,
      .options li {
        display: flex;
        font-size: .5rem;
        align-items: center;
      }
    }
  }

  .test-edit {
    width: 150px;
    margin-right: 10px;
  }

  .no-element {
    .error {
      margin: 40px 0;
    }
  }
}

.opentest_wrap {
  display: flex;
  flex-flow: column;
  margin: 0 10px 0 0;

  .question {
    display: none;
    margin-bottom: 10px;

    &.show {
      display: flex;
    }

    .question_wrap {
      width: 100%;

      .answer textarea {
        width: 100%;
      }

      .head {
        display: flex;
        padding: 5px;

        .sort {
          //padding: 3px;
          margin-right: 10px;
        }

        .text {
        }
      }
    }

  }
}