@import "../var";

.opentest-edit-wrapper {

  .question__create-button {
    margin: 10px;
    background-color: $color-success;
    border: 1px solid $color-success;
    color: white;

    &:hover {
      background-color: #ffffff;
      border: 1px solid $color-success;
      color: $color-success;
    }
  }

  .answer__create-button {
    margin: 10px;
    background-color: coral;
  }

  .question-edit__parent-select {
    [custom-select] {
      .space,
      .options li {
        display: flex;
        font-size: .5rem;
        align-items: center;
      }
    }
  }

  .test-edit {
    //width: 160px;
    //margin-right: 10px;
  }

  .no-element {
    .error {
      margin: 40px 0;
    }
  }
}

.opentest_wrap {
  display: flex;
  flex-flow: column;
  margin: 0 10px 0 0;

  .question {
    display: none;
    margin-bottom: 10px;

    &.show {
      display: flex;
    }

    .question_wrap {
      width: 100%;

      .answer .textarea {
        padding: 10px;
        min-height: 40px;
        border: 1px solid lightblue;
      }

      .head {
        display: flex;
        padding: 5px;

        .sort {
          margin-right: 10px;
        }

        .text {
        }
      }
    }

  }
}