@import "./test-edit-menu";
@import "../var";
@import "../mixin_media";
@import "../components/input/input";



.test-edit-wrapper {
  display: flex;
  margin: 10px 10px 10px 0;
  font-family: 'Roboto', Arial, Serif;
  flex: 1 1 auto;
  @include _800 {
    flex-wrap: wrap;
  }
  .accordion.test-edit{
    width: 200px;
  }

}

@mixin test-edit__act-button {
  position: relative;
  color: #fff;
  font-weight: 600;
  padding: 8px 15px;
  margin: 15px 0;
  white-space: nowrap;
  cursor: pointer;
  background-color: $color-main !important;
  box-shadow: 0 2px 4px 0 $color-main;
  transition: box-shadow 100ms;
  display: flex;
  justify-content: center;


  &:hover {
    box-shadow: none;
  }

}

.test-edit__content {
  padding-left: 20px;
  flex-flow: column;
  display: flex;
  flex: 1 1 auto;
  min-height: 100%;
  width: 200px;

  .test-name{
    font-weight: 600;
    font-size: 22px;
    color: $color-gray-max;
    margin-bottom: 20px;
  }

  h1{
    margin: 0;
  }

  .rules{
    h1{
      color: $color-warning;
    }
  }

}

.question__create-button {
  @include test-edit__act-button;
}

.question__create {
  display: none;
}

.question-edit {
  background-color: #efefef;
  display: flex;
  flex-flow: column;
  padding: 2px;
}

.question__show-answers {
  position: relative;
  width: 30px;
  background-color: white;
  cursor: pointer;

  &:before {
    content: '';
    display: inline-block;
    cursor: pointer;

    border-right: 2px solid $color-main;
    border-top: 2px solid $color-main;
    width: 10px;
    height: 10px;
    top: 30%;
    left: 5px;
    position: absolute;
    transition: transform 300ms;
    transform: rotate(45deg);
  }
}

.question__text {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  min-width: 90px;
  padding: 10px;
  background-color: white;
  margin: 0 3px;
  font-weight: 600;
  position: relative;
  font-size: 0.8rem;

  &:focus-visible {
    outline: none !important;
  }

  &:hover {
    outline: $color-main 1px solid;
    border-radius: 6px;
  }
}

.rotate {
  &:before {
    transform: rotate(135deg) !important;
  }
}

.question__sort {
  cursor: move;
  display: flex;
  flex-basis: 45px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin-right: 3px;
  padding: 0;
  font-weight: 600;
}

.question__save {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  cursor: pointer;
  position: relative;
  margin-right: 3px;

  &:hover{
    background-color: $color-success;

    svg .save{
      fill: white;
    }
  }

  svg {
    width: 20px;
    margin: 10px;

    .save {
      fill: $color-success;
    }

  }

}

.questions {
  display: flex;
  flex-flow: column;
}

.question__image {
  display: flex;
  flex: 2;
}

.question-edit_row {
  display: flex;
  justify-content: space-between;
}

.question__answers.height {
  height: auto !important;
  margin: 5px 0 0 47px;
}

.question__answers.scale {
  transform: scaleY(1) !important;
  opacity: 1;
}

.question__answers {
  opacity: 0;
  display: flex;
  flex-flow: column;
  width: 100%;
  flex: 2;
  height: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.1s;
}


.question__delete {
  width: 55px;
  cursor: pointer;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  svg {
    fill: $color-warning;
  }
  &:hover {
    background-color: $color-warning;
    svg {
      fill: white;
    }
  }


}


//*//          ANSWER   ///*
.answer__sort {
  padding: 5px;
  font-size: .8rem;
  flex-basis: 20px;
}

.answer__text {
  padding: 5px;
  flex: 1;
  font-size: .8rem;
}

.answer__delete {
  width: 35px;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer__delete:nth-child(odd) {
  background: #1bbc9b3d;
}

.answer__correct {
  margin: 0 5px;
  cursor: pointer;
}

.answer {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  overflow: hidden;
  align-items: center;
}

.answer:nth-child(odd) {
  background: lighten($color-main, 20%);
}


.answer__create-button {
  @include test-edit__act-button;

  &:hover {
    background-color: #19a687;
  }

}

.answer__create {
  display: none;
  opacity: 0;
  align-items: center;
  transition: opacity 1s;

  &:nth-child(odd) {
    background: #1bbc9b3d;
  }
}


.list {
  display: flex;
  flex-flow: column;
  margin: 10px;
}

.test-edit__container {
  margin-left: clamp(10px, 20%, 50px);
}



.test-edit__title {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0px 0 20px 2px;

  .test-name {
    text-transform: uppercase;
    font-weight: 800;
    margin: 0 10px 2rem 0;
    color: #36393e;
    font-size: 1rem;
  }

  .test-edit__test-settings {
    padding: 7px 8px;
    background: #1bbc9b;
    color: white;
    margin-left: 10px;
  }
}




