@import "../var";
@import "../mixin_media";
@import "../components/input/input";
@import "./test-head";


//.accordion.test-edit {
//  max-width: 250px;
//
//}

.test-edit-wrapper {
  display: flex;
  font-family: 'Roboto', Arial, Serif;
  flex: 1 1 auto;
  flex-flow: column;

  @include _800 {
    flex-wrap: wrap;
  }

  .accordion.test-edit {
    width: 0;
    @include _600 {
      width: 100%;
    }
    @include _800 {
      max-width: 100%;
    }
  }

}

@mixin test-edit__act-button {
    justify-self: end;
    font-size: 2rem;
    width: 50px;
    height: 50px;

    $border-radius: 75%;
    @include _button($border-radius);

  &:hover {
    box-shadow: none;
  }
}
//}@mixin test-edit__act-button {
//  position: relative;
//  color: #fff;
//  font-weight: 600;
//  padding: 8px 15px;
//  margin: 15px 0;
//  white-space: nowrap;
//  cursor: pointer;
//  background-color: $color-main !important;
//  box-shadow: 0 2px 4px 0 $color-main;
//  transition: box-shadow 100ms;
//  display: flex;
//  justify-content: center;
//
//  &:hover {
//    box-shadow: none;
//  }
//}

.test-edit__cont {
  display: flex;
  @include _800 {
    flex-flow: column;
  }
}

.test-edit__content {
  padding-left: 20px;
  flex-flow: column;
  display: flex;
  flex: 1 1 auto;
  min-height: 100%;
  width: 100%;
  background-color: #fff;
  z-index: 1;
  margin-right: 6vw;

  .test-edit__title {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0px 0 10px 2px;

    .test-name {
      margin: 0;
      @include _h2;
    }
  }

  .no-test {
    margin: 10px 0;
  }

  //h1 {
  //  margin: 0;
  //}

}


.questions {
  display: flex;
  flex-flow: column;

  .question__create {
    display: none;
  }

  .answer__create {
    display: none;
    opacity: 0;
    align-items: center;
    transition: opacity 1s;
  }

  .question-edit:last-child {
    padding: 3px;
  }

  .question-edit {
    background-color: #efefef;
    display: flex;
    flex-flow: column;
    padding: 2px;


    .question-edit_row {
      display: flex;
      justify-content: space-between;

      .question__answers {
        opacity: 0;
        display: flex;
        flex-flow: column;
        width: 100%;
        flex: 2;
        height: 0;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.1s;


        &.height {
          height: auto !important;
          margin: 5px 0 0 47px;
        }

        &.scale {
          transform: scaleY(1) !important;
          opacity: 1;
        }

        .answer {
          display: flex;
          justify-content: space-between;
          background-color: #fff;
          overflow: hidden;
          align-items: center;

          &:nth-child(odd) {
            background: lighten($color-main, 25%);
          }

          .answer__sort {
            padding: 5px;
            font-size: .8rem;
            flex-basis: 20px;
          }

          .answer__correct {
            margin: 0 5px;
            cursor: pointer;
          }

          .answer__text {
            padding: 5px;
            flex: 1;
            font-size: .8rem;
          }

          .answer__delete {
            width: 35px;
            height: 100%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        .answer__create-button {
          @include test-edit__act-button;

          &:hover {
            //background-color: #19a687;
          }
        }
      }


      .question__sort {
        cursor: move;
        display: flex;
        flex-basis: 45px;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        margin-right: 3px;
        padding: 0;
        font-weight: 600;
      }

      .question__save {
        display: flex;
        align-items: center;
        background-color: #ffffff;
        cursor: pointer;
        position: relative;
        margin-right: 3px;

        &:hover {
          background-color: $color-success;

          svg .save {
            fill: white;
          }
        }

        svg {
          width: 20px;
          margin: 10px;
          pointer-events: none;

          .save {
            fill: $color-success;
          }
        }
      }
    }

    .question-edit__parent-select {
      display: flex;
      max-height: fit-content;
      background-color: #ffffff;

      select {
        width: 18px;
        margin: 0 7px;
        border: none;
        padding: 0px 10px;

        &:focus-visible {
          outline: none;
        }
      }

      //&:after{
      //  @include _chevron(-20px)
      //}
    }

  }

  .question__create-button {
    @include test-edit__act-button;
    //@include test-edit__act-button;
  }

  .rotate {
    &:before {
      transform: rotate(135deg) !important;
    }
  }

  .question__show-answers {
    position: relative;
    width: 30px;
    background-color: white;
    cursor: pointer;
    margin-left: 2px;

    &:before {
      @include _chevron()
    }
  }

  .question__text {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    min-width: 90px;
    padding: 10px;
    background-color: white;
    margin: 0 3px;
    font-weight: 600;
    position: relative;
    font-size: 0.8rem;

    &:focus-visible {
      outline: none !important;
    }

    &:hover {
      outline: $color-main 1px solid;
      border-radius: 6px;
    }
  }

  .question__delete {
    width: 55px;
    cursor: pointer;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    svg {
      fill: $color-warning;
      pointer-events: none;
    }

    &:hover {
      background-color: $color-warning;

      svg {
        fill: white;
      }
    }


  }


}

.rules {
  h1 {
    color: $color-warning;
  }

  p {
    margin: 8px 0;
  }
}


//.list {
//  display: flex;
//  flex-flow: column;
//  margin: 10px;
//}







