@import "../var";



.test-edit-menu__params {
  display: flex;
  justify-content: space-around;
  position: relative;
  align-items: center;
  color: #ffffff;
  padding: 7px;
  width: 16px;
  cursor: pointer;
}

.test-edit-menu__test-name {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 7px 14px 7px 7px;
  font-size: .7rem;
  font-weight: bold;
  text-transform: uppercase;
  min-width: 40px;
  max-width: 190px;
  color: #ffffff;

}
.test{
  &:hover{
    background-color: $color-gray-max-hover;
  }
}

.path{
  .path{
    background-color: #808080;
  }
  &:hover{
    background-color: $color-gray-max-hover;
  }
}

.test-edit-menu {
  max-width: 170px;

  .menu {
    width: 100%;
    flex: 1;
    z-index: 1;
    align-self: flex-start;
  }

  li {
    display: flex;
    position: relative;
    border-bottom: 1px solid #b7b7b7;
    transition: 0.5s all;
    justify-content: flex-end;
    background-color: $color-gray-min;
  }
  .vert-menu__list{
    background-color: $color-gray-max;
  }

  .drop {
    background: #4e4e4e;
    cursor: pointer;
    padding: 9px 0 9px 9px;
  }

  .vert-menu__list:hover > .vert-menu__drop {
    opacity: 1;
    top: 0;
    z-index: 1;
  }


}

.test-edit-menu__add-bttn {
  position: relative;
  color: #fff;
  font-weight: 600;
  padding: 8px 15px;
  margin: 15px 0;
  white-space: nowrap;
  cursor: pointer;
  background-color: #1bbc9b !important;
  box-shadow: 0 2px 4px 0 #316358;
  transition: box-shadow 100ms;
  display: flex;
  justify-content: center;

  &:hover {
    box-shadow: none;
  }
  &:hover >.test-edit-menu__add-bttn-wrap{
    opacity: 1;
    top: 100%;
  }
}
.test-edit-menu__add-bttn-wrap{
  display: flex;
  position: absolute;
  flex-flow: column;
  top: 70%;
  left: 0;
  opacity: 0;
  transition: opacity 400ms, top 200ms;
  width: 100%;
  background-color: white;
  color: black;
  box-shadow: 0 2px 4px 0 #316358;
}

.test-edit-menu__add-bttn-test,
.test-edit-menu__add-bttn-path{
  display: flex;
  padding: 5px;
  font-size: .8rem;
  color: #000;
  &:hover{
    background-color: $color-hover-gray;
  }
}


