@import "./test-edit-menu";
@import "../var";
@import "../mixin_media";

@mixin test-edit__act-button {
  position: relative;
  color: #fff;
  font-weight: 600;
  padding: 8px 15px;
  margin: 15px 0;
  white-space: nowrap;
  cursor: pointer;
  background-color: #1bbc9b !important;
  box-shadow: 0 2px 4px 0 #316358;
  transition: box-shadow 100ms;
  display: flex;
  justify-content: center;

  &:hover {
    box-shadow: none;
  }

}

.test-edit__content {
  margin-left: 10px;
  flex-flow: column;
  display: flex;
  flex: 1 1 auto;
}

.question__create-button {
  @include test-edit__act-button;
}

.question__create {
  display: none;
}

.question-edit {
  background-color: #efefef;
  display: flex;
  flex-flow: column;
  padding: 2px;
}

.question__show-answers {
  position: relative;
  width: 30px;
  background-color: white;
  cursor: pointer;

  &:before {
    content: '';
    display: inline-block;
    cursor: pointer;

    border-right: 2px solid $color-main;
    border-top: 2px solid $color-main;
    width: 10px;
    height: 10px;
    top: 30%;
    left: 5px;
    position: absolute;
    transition: transform 300ms;
    transform: rotate(45deg);
  }
}

.question__text {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  min-width: 90px;
  padding: 10px;
  background-color: white;
  margin: 0 3px;
  font-weight: 600;
  position: relative;

  &:hover {
    outline: #1bbc9b 1px solid;
    border-radius: 6px;
  }
}

.rotate {
  &:before {
    transform: rotate(135deg) !important;
  }
}

.question__sort {
  cursor: move;
  display: flex;
  flex-basis: 45px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin-right: 3px;
  padding: 0;
  font-weight: 600;
}

.question__save {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  cursor: pointer;
  position: relative;
  margin-right: 3px;

  :hover svg g {
    fill: red;
  }

  svg {
    width: 20px;
    margin: 10px;

    .save {
      fill: red;
    }

    &:hover .save {
      fill: #1bbc9b;
    }
  }

}

.questions {
  display: flex;
  flex-flow: column;
}

.question__image {
  display: flex;
  flex: 2;
}

.question-edit_row {
  display: flex;
  justify-content: space-between;
}

.question__answers.height {
  height: auto !important;
  margin: 5px 0 0 47px;
}

.question__answers.scale {
  transform: scaleY(1) !important;
  opacity: 1;
}

.question__answers {
  opacity: 0;
  display: flex;
  flex-flow: column;
  width: 100%;
  flex: 2;
  height: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.1s;
}


.question__delete {
  width: 55px;
  cursor: pointer;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &:hover {
    background-color: #ff292917;
  }

  svg {
    fill: red;
  }
}


//*//          ANSWER   ///*
.answer__sort {
  padding: 5px;
  font-size: .8rem;
  flex-basis: 20px;
}

.answer__text {
  padding: 5px;
  flex: 1;
  font-size: .8rem;
}

.answer__delete {
  width: 35px;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer__delete:nth-child(odd) {
  background: #1bbc9b3d;
}

.answer__correct {
  margin: 0 5px;
  cursor: pointer;
}

.answer {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  overflow: hidden;
  align-items: center;
}

.answer:nth-child(odd) {
  background: hsl(168, 75%, 95%);
}


.answer__create-button {
  @include test-edit__act-button;

  &:hover {
    background-color: #19a687;
  }

}

.answer__create {
  display: none;
  opacity: 0;
  align-items: center;
  transition: opacity 1s;

  &:nth-child(odd) {
    background: #1bbc9b3d;
  }
}


html {
  overflow-y: scroll
}

section {
  margin: 5px 20px;
}


.list {
  display: flex;
  flex-flow: column;
  margin: 10px;
}

.test-edit__container {
  margin-left: clamp(10px, 20%, 50px);
}

.test-name {
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 2rem ;
  color: #36393e;
}

.test-edit__title {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0px 0 20px 30px;

  .test-edit__test-settings {
    padding: 7px 8px;
    background: #1bbc9b;
    color: white;
    margin-left: 10px;
  }
}


//* менюшка в редакторе тестов добавить/удалить ответ*/
.navi {
  box-shadow: inset 0 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 0;
  display: none;
  z-index: 2;
}

.navi__item {
  color: #000000;
  display: block;
  font-weight: 800;
  font-size: .5rem;
  text-align: center;
  text-transform: uppercase;
  background-color: #bcbcbc;
  transition: background-color 0.1s linear, color .1s linear;
  white-space: nowrap;
  line-height: 17px;
  padding: 5px;
  margin: 0;
  cursor: pointer;
}

.navi__item:active {
  background-color: #5e5e5e;
}

/*Всплывающие меню*/
.vert-menu__drop {
  position: absolute;
  width: 100%;
  left: 100%;
  top: -9999em;
  opacity: 0;
  border-left: 1px solid transparent;
  transition: 0.5s opacity;
}

.test-edit-wrapper {
  display: flex;
  margin: 10px;
  font-family: 'Roboto', Arial, Serif;
  flex: 1 1 auto;
  @include _800 {
    flex-wrap: wrap;
  }


  /*Иконки для всплывающих менюшек*/
  .vert-menu__list::after {
    content: " ";
    position: absolute;
    border: .4rem solid;
    border-color: transparent transparent transparent #eee;
    transition: 0.5s;
    align-self: center;
  }

  .vert-menu__list:hover::after {
    transform: scaleX(-1);
  }

  .menu .vert-menu__list:hover > .vert-menu__drop {
    opacity: 1;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
  }


}

////.wrap {
////  flex: 1 0 auto;
////}
//
////.overlay {
////  background-color: #0000008f;
////  position: absolute;
////  width: 100vw;
////  height: 100vh;
////  z-index: 1500;
////
////  .block {
////    width: 500px;
////    display: flex;
////    margin: 120px auto;
////  }
////}
//
//.qestion__error {
//  background: #ffffff;
//  color: red;
//  padding: 6px;
//  display: none;
//  height: 16px;
//  border: 1px red solid;
//  opacity: 0;
//  transition: opacity 1000ms;
//}
//
////.question__sort {
////  text-align: center;
////  width: 26px;
////  height: 1rem;
////  margin: 5px 5px 5px 0px;
////}
//
////.e-block-q label {
////  font-size: 13px;
////}
////
////@mixin question_buttons() {
////  display: block;
////  background-color: #1bbc9b;
////  align-self: center;
////  flex-basis: 12px;
////  font-weight: 600;
////  letter-spacing: 2px;
////  color: white;
////  padding: 7px 11px;
////  cursor: pointer;
////  margin: 10px 5px;
////  box-shadow: 0 2px 4px 0 #316358;
////  transition: box-shadow 100ms;
////  &:hover {
////    box-shadow: none;
////  }
////}
//
////.question__save {
////  @include question_buttons()
////}
////
////.question__cansel {
////  @include question_buttons
////}
//
//.question__buttons {
//  display: flex;
//  justify-content: space-evenly;
//  position: sticky;
//  bottom: 10px;
//}
//
//.content {
//  margin: 0 5px 0 20px;
//  flex: 1;
//}
//
//
//
//
////.check_right_answer {
////  margin: 10px 0;
////  font-size: .7rem;
////  @import '../components/checbox-slider';
////
////  input {
////    display: none;
////  }
////}
//
////
////.right-sidebar {
////  position: relative;
////  display: flex;
////  flex-direction: column;
////  align-items: center;
////}
////
////
////.left-sidebar {
////  display: flex;
////  flex-flow: wrap column;
////  position: relative;
////  margin-right: 15px;
////  flex: 1;
////}
//


//
///*****  Редактировать тесты   ******/
//
//.e-block-a {
//  border: 1px #eee solid;
//  padding: 5px;
//  margin: 5px 0 10px 0;
//  position: relative;
//  min-height: 100px;
//  display: flex;
//  transition: background-color 1s;
//  background-color: #ffffff;
//
//  &:hover {
//    box-shadow: 0 3px 6px rgba(0, 0, 0, .58);
//  }
//
//  &:hover .navi {
//    display: inline-block;
//  }
//}
//
//
//.e-block-q {
//  padding: 5px 5px 10px 5px;
//  overflow: visible;
//  position: relative;
//  background-color: #1bbc9b45;
//  display: flex;
//
//  //&:after {
//  //  content: '☰';
//  //  position: absolute;
//  //  top: 0;
//  //  left: 0;
//  //  display: block;
//  //  padding: 0 8px;
//  //}
//
//  &:hover {
//    box-shadow: 0 3px 6px rgba(0, 0, 0, .58);
//  }
//
//  &:hover .navi {
//    display: inline-block;
//  }
//}
//
//.block {
//  flex-direction: column;
//  width: 100%;
//  box-sizing: border-box;
//  border: 3px solid #ccc;
//  margin: 10px 0;
//  background: #fafafa;
//  position: relative;
//  display: none;
//
//  textarea {
//    font-size: .9rem;
//    padding: 10px;
//    border-radius: 4px;
//    border-color: #d8d8d8;
//    resize: vertical;
//    box-sizing: border-box;
//    overflow: hidden;
//    font-family: inherit;
//    width: 100%;
//    flex: 1 0 auto;
//  }
//
//  .answers_show {
//    position: absolute;
//    top: 146px;
//    left: 25%;
//    cursor: pointer;
//
//    &:after {
//      content: '';
//      position: absolute;
//      top: 0;
//      left: -25px;
//      display: block;
//      width: 10px;
//      height: 10px;
//      border-bottom: #1bbc9b solid 3px;
//      border-left: #1bbc9b solid 3px;
//      transform: rotate(-45deg);
//    }
//  }
//
//  [data-toggle] {
//    display: none;
//  }
//
//  [data-toggle]:checked + .answers {
//    transform: translateY(100%);
//  }
//
//  .answers {
//    position: relative;
//    will-change: transform;
//    transition: all .3s;
//    transform: translateY(0);
//    transform-origin: 50% 0;
//  }
//
//  /*Картинка*/
//  #imq, #ima {
//    width: 98%;
//    vertical-align: top;
//    display: inline-block;
//    max-height: 450px;
//  }
//
//  .pic-del {
//    text-align: center;
//    overflow: hidden;
//    transition: background-color 0.5s ease-out;
//    width: 20%;
//    z-index: 1;
//    position: absolute;
//    right: 1px;
//    bottom: 1px;
//    display: none;
//  }
//}
//
//.field__wrapper {
//  position: relative;
//  margin: 5px 0;
//  text-align: center;
//  display: flex;
//  justify-content: flex-start;
//}
//
//.field__file {
//  opacity: 0;
//  visibility: hidden;
//  position: absolute;
//}
//
//.field__file-wrapper {
//  width: 100%;
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//}
//
//.field__file-fake {
//  height: 20px;
//  width: calc(100% - 72px);
//  display: flex;
//  align-items: center;
//  border: 1px solid #c7c7c7;
//  border-radius: 0px 3px 3px 0px;
//  border-left: none;
//  font-size: .5rem;
//  background-color: #fff;
//  padding: 0 0 0 5px;
//}
//
//.field__file-button {
//  width: 65px;
//  height: 22px;
//  background: #1bbc9b;
//  color: #fff;
//  font-size: .5rem;
//  font-weight: 700;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  border-radius: 3px 0 0 3px;
//  cursor: pointer;
//}
//
//

//
//.test_delete {
//  position: relative;
//  width: 35px;
//  height: 35px;
//  margin: 7px 0 10px 0;
//  color: red;
//  align-items: center;
//  justify-content: center;
//  border-radius: 15px;
//
//  svg {
//    height: 100%;
//    width: 100%;
//  }
//
//  &:hover {
//    cursor: pointer;
//    box-shadow: 0 2px 20px 3px #ff2929;
//  }
//
//}



