@mixin green() {

  .adjust {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 20px;
    min-height: 56px;
    min-width: 224px;

    & > .button {
      background-color: #10c44c;
      color: #fff;
      display: inline-flex;
      flex-direction: column;
      flex-grow: 1;
      width: 100%;
      cursor: pointer;
      position: relative;

      &:hover {
        background: darken(#10c44c, 10%);
      }

      .bigger {
        font-size: 16px;
        line-height: 20px;
        user-select: none;
      }

    }

    .plus-minus {
      display: flex;
      align-items: center;
      margin-left: 4px;

      .digit {
        color: #001a34;
        font-size: var(--bodyLFont);
        line-height: var(--bodyLLine);
        margin: 0 4px;
        min-width: 36px;
        text-align: center;
        white-space: nowrap;
      }

      .minus, .plus {
        background: aliceblue;
        border: 1px solid aliceblue;
        border-radius: 12px;
        padding: 12px;
        cursor: pointer;

        &:hover {
          background-color: darken(aliceblue, 3%);
        }

        svg {
          pointer-events: none;
          color: $color-main;
        }
      }

      .plus {

      }
    }
  }
}
