@use "../../var";
@use "sass:color";

.hoist {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    padding: 5px;
    color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: inset -9px -7px 13px 6px rgb(44 121 179 / 83%);
}