@use "../../var";
@use "sass:color";


.fixed {
  position: fixed;
  right: 20px;
  padding: 5px;
  width: 50px;
  height: 50px;
  display: flex;
  border-radius: 50%;
  border: 3px solid transparent;
  color: var.$color-main;
  background-color: transparent;
  cursor: pointer;
  align-items: center;
  justify-content: center;


  &.hoist {
    bottom: 20px;
  }

  &.call-me {
    bottom: 70px;
    width: 50px;
    height: 50px;

    svg {
      padding: 9px;
      border: 2px solid var.$color-main;
      border-radius: 50%;
    }
  }

  &:hover {
    color: color.adjust(var.$color-main, $lightness: 10%);
    padding: 5px;
    border: 1px solid color.adjust(var.$color-main, $saturation: 70%, $lightness: 30%);
    border-radius: 50%;
  }
}