@use "../../var";
@use "sass:color";

.hoist {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    padding: 5px;
    background-color: var.$color-main;
    color: #ffffff;
    border-radius: 50%;
    border: 1px solid color.adjust(var.$color-main, $lightness:-25%);
    cursor: pointer;
}