@use "var";
@use "mixin_media";
@use "share/adminPanel/adminPanel";


.errors {
  @include mixin_media.error;
  margin-bottom: 20px;

}

select {
  border: 1px solid transparent;
  padding: 3px;
}


.tip {
  position: absolute;
  display: flex;
  flex-basis: 50px;
  bottom: 102%;
  left: 0;
  background: hsl(160deg, 2%, 25%);
  z-index: 2;
  color: #ffffff;
  padding: 5px 10px;
  font-weight: 400;
  border-radius: 3px;
  font-size: 10px;
}

.column {
  display: flex;
  flex-flow: column;
}
.row {
  display: flex;
}

.button.button-outlined.button-success {
  @include mixin_media.colored_button(3px, var.$color-success, var.$color-white)
}

.button.button-outlined {
  @include mixin_media.colored_button(3px, var.$color-main, var.$color-white, var.$color-main)
}

.button.button-filled.button-success {
  @include mixin_media.colored_button(3px, var.$color-white, var.$color-success)
}

.button.button-filled {
  @include mixin_media.colored_button(3px, var.$color-white, var.$color-main)
}



