// Using
//.div {
//   @include _1200 {
//       @content;
//   }
//}
@import "var";
@mixin _2200 {
  @media (max-width: 2200px) {
    @content;
  }
}

@mixin _1200 {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin _1000 {
  @media (max-width: 1000px) {
    @content;
  }
}

@mixin _900 {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin _800 {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin _600 {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin _500 {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin _400 {
  @media (max-width: 400px) {
    @content;
  }
}

@mixin _300 {
  @media (max-width: 300px) {
    @content;
  }
}


@mixin _button($border-radius:1%,$border-color:$color-main) {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-main;
  border-radius: $border-radius;
  color: white;
  align-self: end;
  margin: 10px 0 0 10px;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid $border-color;
  transition: background-color, color 500ms;

  &:hover {
    color: $color-main;
    background: #ffffff;
  }
}


@mixin _chevron($top:30%) {
  content: '';
  display: inline-block;
  cursor: pointer;
  border-right: 2px solid $color-main;
  border-top: 2px solid $color-main;
  width: 10px;
  height: 10px;
  top: $top;
  left: 8px;
  position: absolute;
  transition: transform 300ms;
  transform: rotate(45deg);
}

@mixin _h1 {
  font-size: 1.8rem;
  font-weight: 600;
  color: $color-grey-logo;
}

@mixin _h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: $color-grey-logo;
}

@mixin _h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: $color-grey-logo;
}

@mixin _h4 {
  font-size: 0.9rem;
  font-weight: 600;
  color: $color-grey-logo;
}
