@import "var";

@function color($color,$sat,$light,$opacity) {
  @if $color == red {
    @return hsl(0deg, $sat*1%, $light*1%, $opacity*1%);
  } @else if $color==green {
    @return hsl(120deg, $sat*1%, $light*1%, $opacity*1%);
  } @else if $color==blue {
    @return hsl(200deg, $sat*1%, $light*1%, $opacity*1%);
  } @else if $color==black {
    @return hsl(0, 0*1%, $light*1%, $opacity*1%);
  }
}


@mixin mtree{
  ul.mtree {
    opacity: 0;
    margin-left: 0;
    padding: 1.2em;
    ul {
      margin-left: 1em; // Set default indent level (or set 0)
    }

    li {
      list-style: none; // Lets remove default bullets for all elements
    }

    a {
      @extend %mtree-transition;
      display: block;
    }

    li.mtree-node {
      > a { font-weight: bold; }
    }

    li.mtree-open {}
    li.mtree-closed {}
    ul.mtree-level-1 {
    }
    ul.mtree-level-2 { }
    ul.mtree-level-3 { }

    li.mtree-active {

    }
  }

  %mtree-transition {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
  }


  /*// bubba skin*/
  ul.mtree.bubba {
    ul {margin-left:0;}
    ul li { font-size: .9em; }
    li.mtree-node > a:after {content: '›'; margin-left:.5em; font-weight: normal; }
    li.mtree-node > a { font-weight: bold; text-transform: upperCase;}
    > li {border-bottom: 1px solid #DDD;}
    > li:last-child {border-bottom: none;}
    li:last-child > a {border: none; }
    > li.mtree-open > a { background: #DDD; }
    li > a:hover { background: #DDD;}
    li.mtree-active > a { background: #FFC000; color: #FFF; }
    $indent: 1em;
    a { padding: 7px 0px 7px $indent; }
    li li > a { padding-left: $indent*2; }
    li li li > a { padding-left: $indent*3; }
    li li li li > a { padding-left: $indent*4; }
    li li li li li > a { padding-left: $indent*5; }
  }

  /*// skinny skin*/
  ul.mtree.skinny {
    li { font-size: .9em; }
    a { padding: 0px 18px; color: #555; }
    a:hover { text-decoration: underline; }
    li.mtree-node:before { float: left; margin-left: .5em; zoom: .8; margin-top: .1em; color: #777;}
    li.mtree-open:before { content: '-'; }
    li.mtree-closed:before { content: '+'; }
    ul > li:first-child { margin-top: .1em; }
    ul > li:last-child { margin-bottom: .3em; }
    ul a {color:#666;}
  }

  /*// transit skin*/
  ul.mtree.transit {
    background: #111;
    ul {margin-left: 0;}
    ul > li {font-size:.9em; }
    li.mtree-node {position:relative;}
    li.mtree-node > a:before { color:#CCC; font-weight:normal; position: absolute; right: 20px; }
    li.mtree-open > a:before { content: '-';}
    li.mtree-closed > a:before { content: '+'; }
    ul > li:first-child { margin-top: 1px; }
    li.mtree-open > a {background: #222; }
    li > a:hover, li.mtree-active > a {background: #333; color: #FFF; }
    li.mtree-node > ul > li:last-child { margin-bottom: .5em; padding-bottom: .5em; border-bottom: 1px solid #333;}
    li.mtree-node:last-child > ul > li:last-child { margin-bottom: 0; padding-bottom: 0; border-bottom: none;}
    $indent: .8em;
    a { padding: 5px 0px 5px $indent; color: #CCC; }
    li li > a { padding-left: $indent*2; }
    li li li > a { padding-left: $indent*3; }
    li li li li > a { padding-left: $indent*4; }
    li li li li li > a { padding-left: $indent*5; }
  }

  /*// jet skin*/
  ul.mtree.jet {
    ul { margin-left: 0; }
    li { margin-bottom: 1px; }
    li:last-child { margin-bottom: 0px; }
    li:first-child { margin-top: 1px; }
    li.mtree-active a { background: #E3E3E3; }
    li.mtree-active li:last-child > a {border-radius: 0px 0px 3px 3px;}
    li.mtree-active > a { background: #008cba; color:#FFF; border-radius: 3px 3px 0px 0px;}
    li > a:hover { background: #FFC000; color: #FFF;}
    $indent: 1em;
    a { padding: 5px 0px 5px $indent; }
    li li > a { padding-left: $indent*2; }
    li li li > a { padding-left: $indent*3; }
    li li li li > a { padding-left: $indent*4; }
    li li li li li > a { padding-left: $indent*5; }
  }

  /*// nix skin / below just reverts to default list styles.*/
  ul.mtree.nix {
    background: none;
    a {display: inline;}
    ul { margin-left: 1em; }
    ul > li { list-style-position: inside; }
    li {list-style: disc;}
  }



  /*// ** DEMO STUFF ***/
  /*// disregard this ...*/
  .mtree-demo {
    .mtree {
      background: #EEE;
      margin: 20px auto;
      max-width: 320px;
      border-radius: 3px;
    }
  }

  /*// Skin selector for demo*/
  .mtree-skin-selector {
    text-align: center;
    background: #EEE;
    padding: 10px 0 15px;
    li {
      display: inline-block;
      float: none;
    }
    button {
      padding: 5px 10px;
      margin-bottom: 1px;
      background: #BBB;
      &:hover {
        background: #999;
      }
      &.active {
        background: #999;
        font-weight: bold;
      }
      &.csl.active {
        background: #FFC000;
      }
    }
  }
}

@mixin input-clear {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
}

@mixin cartRowGrey {
  display: flex;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}


@mixin cartRow {

  .row {
    display: flex;
    gap: 5px;
    font-size: .8rem;


    .num {
      @include cartRowGrey;
    }

    img {
      width: 100px;
      object-fit: contain;
    }

    .cell {
      @include cartRowGrey;
    }

    .cart-shippable-table {
    }

    .name-price {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-between;


      .price-table {
        display: grid;
        grid-template-columns: 85px 110px;
        align-self: end;

        .price {
          display: flex;
          justify-content: end;
          padding-right: 5px;
        }
      }
    }


    .count {
      @include cartRowGrey;
      border: 1px solid transparent;
      width: 55px;
    }

    .sum {
      @include cartRowGrey;
      align-items: center;
      justify-content: end;
      width: 75px;
    }

    .del {
      @include cartRowGrey;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 10px;

      &:hover {
        background-color: #cccccc;
      }

      svg {
        fill: red;
        pointer-events: none;
      }
    }
  }

  .buttons {
    display: flex;
    align-items: end;
    display: flex;
    align-items: end;
    gap: 10px;
    justify-content: end;

    .button {
      @include colored_button(6px);
      display: inline-flex;
      padding: 20px;
      margin: 20px 0;
      justify-content: center;
      width: 230px;
    }
  }

}

@mixin white_svg_button(
  $width:35px,
  $height:100%,
  $svg-width:15px,
  $color:$color-warning
) {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $width;
  height: $height;
  background-color: white;

  svg {
    fill: $color;
    width: $svg-width;
    pointer-events: none;
    transition: fill 500ms;
  }

  &:hover {
    background-color: $color;

    svg {
      fill: white;
    }
  }

}

@mixin colored_svg_button(
  $width:35px,
  $height:100%,
  $svg-width:15px,
  $color:$color-warning
) {

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $width;
  height: $height;
  background-color: $color;
  color: $color-white;
  user-select: none;

  svg {
    fill: $color-white;
    width: $svg-width;
    pointer-events: none;
    transition: fill 500ms;
  }

  &:hover {
    background-color: $color-white;
    color: $color;

    svg {
      fill: $color;
    }
  }
}

@mixin delete(
  $width,
  $height,
  $svg-width,
  $color
) {
  @include colored_svg_button(
                  $width,
                  $height,
                  $svg-width,
                  $color
  );
}

@mixin error {
  .message {
    font-size: .9rem;
    margin-bottom: 15px;
    transition: scale .5s;

    &.error {
      border: 3px solid lighten($color-warning, 20%);
      background-color: lighten($color-warning, 40%);
      border-radius: 3px;
      padding: 10px;
      color: darken($color-warning, 5%);
    }

    a {
      padding: 0;
      color: $color-main-hover;
      font-weight: 600;
    }
  }
}

@mixin info-tag {
  .info-tag {
    color: white;
    background-color: $color-main;
    padding: 10px;
    margin-bottom: 15px;
  }
  .info {
    margin-bottom: 10px;
  }
}

@mixin _2200 {
  @media (max-width: 2200px) {
    @content;
  }
}

@mixin _1200 {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin _1000 {
  @media (max-width: 1000px) {
    @content;
  }
}

@mixin _900 {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin _800 {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin _700 {
  @media (max-width: 700px) {
    @content;
  }
}

@mixin _600 {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin _500 {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin _400 {
  @media (max-width: 400px) {
    @content;
  }
}

@mixin _300 {
  @media (max-width: 300px) {
    @content;
  }
}

@mixin chips {
  .chip-wrap {
    display: flex;
    //background: white;
    padding: $padding-form;
    gap: 3px;
    flex: 1 1 auto;
    flex-wrap: wrap;
    align-items: flex-start;


    .chip {
      display: flex;
      align-items: center;
      border-radius: 12px;
      border: 1px solid #c7c7c7;
      background-color: #e9e9e9;
      padding: 3px 5px;
      gap: 6px;
      font-size: 0.7rem;
      font-family: sans-serif;
      color: #41444a;

      &:hover {
        background-color: darken(#e9e9e9, 5%);
      }

      .del {
        content: "x";
        background-color: #dab1b1;
        border-radius: 10px;
        font-size: 0.5rem;
        padding: 3px;
        color: #454545;
        width: 5px;
        height: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-left: 2px;
      }
    }
  }
}

@mixin ul {
  display: flex;
  flex-flow: column;
  margin-left: 10px;
  //background-color: darkslategray;
}

@mixin tree {

  $padding: 5px;

  li a {
    display: flex;
    flex-flow: column;
    padding: $padding;
    color: darkslategray;
  }

  ul {
    display: flex;
    flex-flow: column;

    li a {
      display: flex;
      flex-flow: column;
      padding: $padding;
      color: darkslategray;
    }

    a {
      color: darkslategray;
      padding: $padding;
    }

    ul.level-1 {
      @include ul;

      ul.level-2 {
        @include ul;

        ul.level-3 {
          @include ul;

          ul.level-4 {
            @include ul;
          }
        }
      }
    }
  }
}

@mixin colored_button(
  $border-radius:0px,
  $color:$color-white,
  $background:$color-main,
$border-color:$color-main
) {
  display: flex;
  padding: 3px;
  justify-content: center;
  align-items: center;
  background: $background;
  border-radius: $border-radius;
  color: $color;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid $border-color;
  transition: background 500ms, color 500ms;
  user-select: none;

  &:hover {
    color: $background;
    background: $color;
    border: 1px solid $background;
  }
}


@mixin _chevron($top:30%) {
  content: '';
  display: inline-block;
  cursor: pointer;
  border-right: 2px solid $color-main;
  border-top: 2px solid $color-main;
  width: 10px;
  height: 10px;
  top: $top;
  left: 8px;
  position: absolute;
  transition: transform 300ms;
  transform: rotate(45deg);
}

@mixin slider {
  font-size: 13px;
  position: relative;
  display: inline-flex;
  margin-bottom: 40px;
  margin-top: 1px;

  .wrap {
    top: -20px;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 0;
    background-color: white;
    transition: all 300ms;
    overflow: hidden;

    .filter {
      display: flex;
    }
  }

  .slide {
    content: 'Фильтры';
    position: absolute;
    width: 100%;
    height: 20px;
    top: 100%;
    padding: 3px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-main;
    color: white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: pointer;

    &:hover {
      background-color: lighten($color-main, 10%);
    }
  }

}

@mixin _h1 {
  font-size: 1.3rem;
  font-weight: 600;
  color: $color-grey-logo;
  margin: 0 0 25px;
}

@mixin _h2 {
  font-size: 1.0rem;
  font-weight: 600;
  color: $color-grey-logo;
  margin: 0 0 15px;
}

@mixin _h3 {
  font-size: 0.8rem;
  font-weight: 600;
  color: $color-grey-logo;
  margin: 0;
  margin-bottom: 15px;
}

@mixin _h4 {
  font-size: 0.6rem;
  font-weight: 600;
  color: $color-grey-logo;
  margin: 0;
  margin-bottom: 15px;
}


.page-name {
  margin: 0 0 15px 0;
  @include _h2;
}