@use "mixin_media";
@use "var";
@use "root";


html {
  height: 100%;
  overflow-y: scroll;
}

//* {
//  border: 1px solid red;
//}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

body {
  position: relative;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  margin: 0;
  font-family: "Roboto", "Montserrat", sans-serif;
  font-weight: 400;
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-space);
  /*скрыть дерганье страницы в появлении полосы прокрутки*/
  padding: 0 calc(0px - (100vw - 100%)) 0 0;
  text-rendering: optimizeLegibility;
  overflow: hidden;
  background-color: var(--color-white);
}
:is(h1, h2, h3) {
  font-weight: 600;
}

h1 {
  font-size: var(--font-size-3);
  line-height: var(--line-height-3);
  letter-spacing: var(--letter-space-3);
}
h2 {
  font-size: var(--font-size-2);
  line-height: var(--line-height-2);
  letter-spacing: var(--letter-space-2);
}
h3 {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-space-1);
}

.xdebug-error{
  padding-top: 110px;
}

p {
  margin: 5px 0;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

input,
textarea,
textarea:focus,
.button:focus {
  outline: transparent;
}


[hidden] {
  display: none !important;
}

.none {
  display: none !important;
}

[contenteditable]:focus-visible {
  outline: transparent;
}