@import "mixin_media";

html {
  height: 100%;
  overflow-x: hidden;
}


body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  /*скрыть дерганье страницы в появлении полосы прокрутки*/
  padding: 0 calc(25px - (100vw - 100%)) 0 0;
  width: 100%;
  @include _400{
    padding: 0 ;
  }

}

h1, h2 {
  text-transform: uppercase;
  color: #4e4e4e;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 35px 0;
}

p {
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

input,
textarea,
textarea:focus,
.button:focus {
  outline: none;
}

.column {
  display: flex;
  flex-flow: column;
}
.row{
  display: flex
}
.flex1 {
  display: flex !important;
}
.none
{ display: none;}