//$color-main: #1bbc9b1//;

$color-main-green: #1bbc9b;

$color-main: #6ca3fe;

$color-main-hover: shade($color-main, 60%);

$dark-grey-hover: #343635;

$color-white-hover: #e7e7e7;
$color-hover-gray: #e5e5e5;

$color-red: #e30000;

$color-a: #5a5a5a;

$color-title: #2a2a2a;

$color-gray-min: #808080;
$color-gray-min-hover: #6E6E6E;

$color-gray-mid: #565958;
$color-gray-mid-hover: #4D4F4E;

$color-gray-max: #3d403f;
$color-gray-max-hover: $dark-grey-hover;

$color-text: $dark-grey-hover;

$font-label: 400 14px Arial, Serif;
$font-label-focus: 400 16px Arial, Serif;

$font-label-Roboto: 14px "Roboto", sans-serif;
$font-label-Roboto-focus: 16px "Roboto", sans-serif;