$color-main: #1bbc9b;
$color-main-hover:#009979;


$color-white-hover:#e7e7e7;
$color-hover-gray: #e5e5e5;

$color-red:#e30000;

$color-a:#5a5a5a;


$color-gray-min:#808080;
$color-gray-min-hover: #6E6E6E;

$color-gray-mid:#565958;
$color-gray-mid-hover: #4D4F4E;

$color-gray-max:#3d403f;
$color-gray-max-hover: #343635;
