@use "sass:color";

$color-success: #54bb99;
$color-main-green: #7ac142;


$color-main: #1a72b8;

$color-main-lighten10: color.adjust($color-main, $lightness: 10%);
$color-main-darken10: color.adjust($color-main, $lightness: -10%);

$color-contenteditable: color.adjust($color-main, $lightness: 27%);
$color-main-hover: #2d6b9f;
$color-main-selected: color.adjust($color-main, $lightness: 22%);


$color-white: #ffffff;
$color-blue: #5199BD;
$color-warning: #bd5151;
$color-red: #e37e7e;
$color-danger: #b82121;
$color-yandex: #FC3F1D;

$color-white-hover: #e7e7e7;
$color-hover-gray: #e5e5e5;

$color-gray0: color.adjust(#f8f8f8, $lightness: 3%);
$color-gray1: #f8f8f8;
$color-gray2: color.adjust($color-gray1, $lightness: -3%);
$color-gray3: color.adjust($color-gray1, $lightness: -6%);
$color-gray4: color.adjust($color-gray1, $lightness: -9%);
$color-gray5: color.adjust($color-gray1, $lightness: -12%);
$color-gray6: color.adjust($color-gray1, $lightness: -16%);
$color-gray7: color.adjust($color-gray1, $lightness: -20%);
$color-gray8: color.adjust($color-gray1, $lightness: -30%);
$color-gray9: color.adjust($color-gray1, $lightness: -50%);
$color-gray10: color.adjust($color-gray1, $lightness: -50%);
$color-gray-browser: #445760;

$textPrimary: #001a34;
$textSecondary: #707f8d;
$textQuaternary: #96a3ae;

$color-title: #2a2a2a;
$color-h: color.adjust($color-title, $lightness: 10%);
$dark-grey-hover: #343635;

$color-admin-sidebar: #4d5158; // Abbey

$color-a: #5a5a5a;

$color-grey-logo: #41444a;
$color-gray-min: #f8f8f8;
$color-gray-min-hover: color.adjust($color-gray-min, $lightness: -10%);

$color-gray-mid: #565958;
$color-gray-mid-hover: #4D4F4E;

$color-gray-max: #3d403f;
$color-gray-max-hover: $dark-grey-hover;

$color-text: $dark-grey-hover;


$font-label: 400 14px Arial, Serif;
$font-label-focus: 400 16px Arial, Serif;

$font-label-Roboto: 14px "Roboto", sans-serif;
$font-label-Roboto-focus: 16px "Roboto", sans-serif;

$padding-input-with-label: 1.2rem .5rem .25rem;

$marginY-element: 10px 0;

$m: '20px';
$m: '40px';

$padding-form: 6px;
$font-size-form: .7rem;
$margin-form: 0px 5px;
$border-option-hover-form: 1px solid color.adjust($color-main, $lightness: 6%);
$border-field-hover: 1px solid color.adjust($color-gray4, $lightness: -10%);
$background-option-selected-form: color.adjust($color-main, $lightness: 6%);
$color-option-selected-form: white;

$font-size-table: 0.7rem;
$font-size: 0.7rem;
