@import "../../var";
@import "../../mixin_media";


.custom-catalog-item__wrapper {
  padding:  20px 10px;
  background-color: $color-gray2;
  @include _2200{
    width: 500px;
  }

  .custom-catalog-item__buttons {
    display: flex;
    justify-content: flex-end;

    .save, .to-list, .del {
      padding: 10px 15px;
      $border-radius: 3%;
      @include _button($border-radius);

      &:hover {
        svg {
          fill: $color-main;
        }
      }

      svg {
        fill: #ffffff;
      }
    }
    .del{
      background-color: $color-warning;
      border: 1px solid $color-warning;
      &:hover {
        svg {
          fill: $color-warning;
        }
      }

      svg {
        fill: #ffffff;
      }
    }

  }
}

.custom-catalog-item {
  display: flex;
  flex-flow: column;

  .row {
    display: flex;
    padding: 5px 0;

    .field {
      display: flex;
      justify-content: flex-end;
      padding: 0 5px;
      min-width: 200px;
      font-weight: 600;
    }

    .value {
      padding: 0 5px;
    }

    [contenteditable] {
      background-color: white;
      padding: 3px 5px;
      box-sizing: border-box;

      &:hover {
        border: 1px solid $color-gray4;

      }

      &:focus-visible {
        border-bottom: none;
      }
    }
  }

}