@import "../../var";
@import "../../mixin_media";
@import "../breadcrumbs";

.ql-toolbar.ql-snow{
  button{
    background-color: initial;
    border: initial;
  }
}

.profile {
  min-width: 400px;
  max-width: 70%;
  //margin: 30px 0;
}

.page-title {
  margin: 0 0 15px 0;
  @include _h2;
}

.item_wrap {
  display: flex;
  min-width: 400px;
  max-width: 85%;
  position: relative;
  padding: 0;
  font-size: $font-size;

  @include _800 {
    max-width: 100%;
  }

  &[data-model='product'] {
    .category {
      margin: 10px 0;
      text-transform: uppercase;
      font-weight: 600;
    }

    .property {
      display: flex;
      margin-bottom: 5px;

      .name {
        display: flex;
        width: 200px;
      }

      [custom-select] {
        min-width: 200px;

      }
    }
  }
}


.item_header {
  display: flex;
  gap: 5px;
  flex-flow: column;

  .tabs_wrap {
    display: flex;
    gap: 5px;
    flex-flow: column;

    .tab {
      margin: 0 0 0;
      padding: 2px 5px;
      text-align: center;
      border: 1px solid #e1e1e1;
      border-right: none;
      border-radius: 3px 0px 0 3px;
      cursor: pointer;
      display: flex;
      align-items: center;
      max-width: 75px;
      border-left: 3px solid transparent;
      color: #555;
      background-color: $color-gray3;

      @include _400 {
        font-size: 10px;
      }

      &:before {
        font-weight: normal;
        margin-right: 10px;
      }

      &:hover {
        cursor: pointer;
        background-color: $color-gray5;
      }

      &.active {
        color: #fff;
        background: #4d5158;
        border-left: 2px solid $color-main;
        border-bottom: 1px solid $color-gray3;
        //border-left: 1px solid #ddd;
        border-right: 2px solid $color-gray3;
      }
    }
  }
}

.item_content {
  background-color: $color-gray3;
  padding: 20px;
  min-width: 460px;


  .row {
    display: flex;
    padding: 5px 0;
    align-items: center;

    .field {
      display: flex;
      justify-content: flex-end;
      padding: 0 5px;
      min-width: 150px;
      font-weight: 400;
      text-align: end;
      flex: 0 0;
    }

    .text:not([contenteditable]) {
      margin: $margin-form;
    }

    [contenteditable] {
      background-color: white;
      padding: $padding-form;
      box-sizing: border-box;
      flex: 1 0 auto;
    }

    .value {
      //padding: $padding-form;
      margin: $margin-form;
      flex: 1 0 160px;
      position: relative;

      & > [contenteditable],
      & [custom-select] {
        border: 1px solid transparent;
      }

      & > [contenteditable]:hover,
      & [custom-select]:hover {
        border: $border-field-hover;
      }

      .checkbox {
        background: white;
        width: .8rem;
        height: .8rem;
        border-radius: 2px;
        border: #e0e0e0 1px solid;

        &.checked:after {
          content: '';
          display: flex;
          align-items: center;
          justify-content: center;
          border: 3px solid #7a7a7a;
          border-right: 3px solid transparent;
          border-top: 3px solid transparent;
          transform: rotate(308deg);
        }

        &:hover {
          border: #c7c7c7 1px solid;
        }

        &:hover:after {
          content: '';
          display: flex;
          align-items: center;
          justify-content: center;
          border: 3px solid #c7c7c7;
          border-right: 3px solid transparent;
          border-top: 3px solid transparent;
          transform: rotate(308deg);
        }
      }

      .image {
        width: 200px;
        height: 100px;
        background-color: #fff;
        border: #f0f0f0 1px solid;

        &:hover {
          border: #c8c8c8 1px solid;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .error {
        position: absolute;
        top: -7%;
        font-size: .7rem;
        color: brown;
      }
    }
  }

  section {
    display: none;
    flex-flow: column;

    &.show {
      display: flex;
    }

    .content {
      background-color: $color-gray3;
      display: flex;
      flex-flow: column;

      //padding: 20px 10px;

      .row {
        display: flex;
        padding: 5px 0;
        border-bottom: 1px solid #fdfdfd;

        &:last-child {
          border-bottom: none;
        }

        &:hover {
          background-color: #f2f2f2;
        }
      }
    }

  }

  .item_buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    flex: 1 0;
    margin: 40px 0 0;


    .save {
      @include delete(
              $width: 35px,
              $height: 35px,
              $svg-width: 25px,
              $color: $color-main);
      border: 1px solid $color-main;
    }

    .to-list {
      @include delete(
              $width: 135px,
              $height: 35px,
              $svg-width: 25px,
              $color: $color-main);
      border: 1px solid $color-main;

    }

    //.save, .to-list {
    //  padding: 10px 15px;
    //  $border-radius: 3%;
    //  line-height: 1.2rem;
    //  @include colored_button($border-radius);
    //  align-self: end;
    //
    //  &:hover {
    //    svg {
    //      fill: $color-main;
    //    }
    //  }
    //
    //  svg {
    //    fill: #ffffff;
    //  }
    //}


    .del, [soft-del] {
      @include delete(
              $width: 35px,
              $height: 35px,
              $svg-width: 25px,
              $color: $color-warning);
      border: 1px solid $color-warning;
    }
  }

}
