.password-control {
  position: absolute;
  top: 35%;
  transform: translateY(-35%);
  right: 6px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(/pic/icons/view.svg) 0 0 no-repeat;
  cursor: pointer;

  &.view {
    background: url(/pic/icons/no-view.svg) 0 0 no-repeat;
  }

}
