.password-control {
  position: absolute;
  top: 20px;
  right: 6px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(/pic/srvc/view.svg) 0 0 no-repeat;

  &.view {
    background: url(/pic/srvc/no-view.svg) 0 0 no-repeat;
  }

}
