.password-control {
  position: absolute;
  top: 16px;
  right: 6px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(@assets/icons/view.svg) 0 0 no-repeat;
  cursor: pointer;

  &.view {
    background: url(@assets/icons/no-view.svg) 0 0 no-repeat;
  }

}
