@import "../../var";

.dndhover{
  border: 1px dashed $color-main !important;
}

.holder {
  position: relative;
  border: 4px dashed #ccc;
  text-align: center;
  font-size: 1rem;

  img{

    &:hover{
      position: absolute;
      top: 0;
      left: -100%;
      z-index: 1;
      border: 1px solid;
    }
  }

  p {
    flex: 1;
  }
}
