@import "../../var";
//.dndhover {
//  border: 1px dashed $color-main !important;
//}

@mixin dnd-container{
  align-items: center;
  background-color: white;
  flex-wrap: wrap;
  margin: 5px;
  display: flex;
  user-select: none;

  .close {
    position:absolute;
    opacity:0;
    right:0px;
    width:16px;
    height:16px;
    cursor:pointer;
    border:1px solid #000;
    background-color:#efefef;
    z-index: 5;
    -webkit-transition: opacity 150ms;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAiElEQVR42r2RsQrDMAxEBRdl8SDcX8lQPGg1GBI6lvz/h7QyRRXV0qUULwfvwZ1tenw5PxToRPWMC52eA9+WDnlh3HFQ/xBQl86NFYJqeGflkiogrOvVlIFhqURFVho3x1moGAa3deMs+LS30CAhBN5nNxeT5hbJ1zwmji2k+aF6NENIPf/hs54f0sZFUVAMigAAAABJRU5ErkJggg==) no-repeat;
    text-align:right;
    border: 0;
    cursor: pointer;
  }
  .close:hover, .close:focus {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAqklEQVR4XqWRMQ6DMAxF/1Fyilyj2SmIBUG5QcTCyJA5Z8jGhlBPgRi4TmoDraVmKFJlWYrlp/g5QfwRlwEVNWVa4WzfH9jK6kCkEkBjwxOhLghheMWMELUAqqwQ4OCbnE4LJnhr5IYdqQt4DJQjhe9u4vBBmnxHHNzRFkDGjHDo0VuTAqy2vAG4NkvXXDHxbGsIGlj3e835VFNtdugma/Jk0eXq0lP//5svi4PtO01oFfYAAAAASUVORK5CYII=");
  }

  img{
    width: 130px;
    height: 130px;
    object-fit: contain;
    border: 1px solid #d8d8d8;
    position: relative;

    &:after{
      content:'\A';
      position:absolute;
      width:100%; height:100%;
      top:0; left:0;
      background:rgba(0,0,0,0.6);
      opacity:0;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
    }

    &:hover:after {
      opacity:1;
    }
  }
}

@mixin dnd {
  [dnd] {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    min-width: 100px;
    width: 130px;
    height: 130px;
    margin: 5px;
    border-radius: 3%;
    background-color: $color-gray1;
    border: $color-gray3 1px solid;
    //pointer-events: none;

    &:hover {
      background-color: $color-gray0;
      border: $color-gray5 1px solid;
    }

    &.hover {
      background-color: $color-gray0;
      border: $color-gray5 1px solid;
    }

    svg {
      pointer-events: none;

      path {
        fill: $color-gray6;
      }
    }

    .text {
      justify-content: center;
      align-self: center;
      text-align: center;
    }


    //img {
    //  &:hover {
    //    position: absolute;
    //    top: 0;
    //    left: -100%;
    //    z-index: 1;
    //    border: 1px solid;
    //  }
    //}

    p {
      flex: 1;
    }
  }
}
