@import "../../../var";

.pagination {
  display: flex;
  flex-wrap: wrap;

  a {
    text-align: center;
    display: block;
    width: 1.1rem;
    height: 1.1rem;
    border: 1px solid #ddd;
    border-radius: 10%;
    padding: 5px 7px;
    margin: 0 5px 10px 0;
    font-size: 1rem;
    color: black;
  }

  [data-pagination] {
    cursor: pointer;
    background-color: #949494;
    border: none;
    color: white;
    padding: 6px 6px;
    text-align: center;
    display: block;
    flex-basis: 18px;
    font-size: 10px;
    border-radius: 1px;
    margin: 0px 3px 4px 0;

    &:hover {
      background: #6e6e6e;
    }
  }
  .active {
    background-color: #6e6e6e;
  }
  .filled {
    background-color: $color-gray-max;
  }
}


.pagination__add-question {
  background-color: $color-main;
  border: none;
  color: white;
  padding: 0 6px;
  text-align: center;
  font-size: 1rem;
  box-shadow: 0 2px 4px 0 $color-main;
  margin: 0 3px 4px 0;
  line-height: 19px;
  cursor: pointer;

  &:hover {
    background-color: $color-main-hover;

  }

}

