@use "../../mixin_media";
.main {

  .container {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap;


  }

  #map{
    width: 600px;
    height: 600px;
  }


  .block {
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, rgba(43,31,255,1) 0%, rgba(159,0,155,1) 100%);;
    border-radius: 16px;
    padding: 10px;
    color: #ffffff;
    min-height: 140px;
    flex: 1 0 190px;

    canvas{
      width: clamp(180px, 100%, 240px) !important;
      justify-self: flex-end;
      //min-width: 180px !important;
    }

    @include mixin_media.m1000{
      flex:1 0 20%;
    }
    @include mixin_media.m800{
      flex:1 0 30%;
    }
    @include mixin_media.m600{
      flex:1 0 90%;
    }
    .icon{
      svg{
        fill:#fff;
      }
    }

    &.income{
      background: linear-gradient(90deg, rgba(43,31,255,1) 0%, rgba(159,0,155,1) 100%);
    }
    &.supplied{
      background: linear-gradient(90deg, rgba(71,222,22,1) 0%, rgba(182,201,0,1) 100%);
    }
    &.newCustomers{
      background: linear-gradient(90deg, rgba(222,135,22,1) 0%, rgba(214,18,18,1) 100%);
    }
    &.efficient{
      background: linear-gradient(90deg, rgba(219,22,222,1) 0%, rgba(137,18,214,1) 100%);
    }

    .row {
      display: flex;
      justify-content: space-between;
    }

    .digit{
      font-weight: 600;
      margin-bottom: 5px;
    }
    .name{
      font-size: 12px;
    }

    .graph-title{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .graph{
      width: 106px;
      height: 100px;
    }

  }
}


#income {

}